[2016-04-08 09:58] ffittschen opened #23 "Show errorMessage when textField is empty"
Hi!

Would it be possible to add a flag that allows to display the errorMessage even if the textField is empty?

In my use case I would like to display an errorMessage `A username is required to register` if the textField validation fails (because the textField is empty).

The corresponding line is [#L436 in SkyFloatingLabelTextField.swift](https://github.com/Skyscanner/SkyFloatingLabelTextField/b

[2016-04-08 10:59] gergelyorosz commented on #23
Thanks for sharing your use case. I see this as something valid that the control should either support out of the box, or allow some simple extensiblity (e.g. subclassing) to achieve.

I'm thinking of whether introducing the `showErrorMessageOnEmptyText` would still keep the API generic enough. Another option would be to allow overriding e.g. the `titleVisible` property, where a subclass can chang

[2016-04-08 11:23] ffittschen commented on #23
I just discovered that the positioning of the errorMessage would also be wrong, because the rect of the `titleLabel.frame` [gets calculated](https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/Sources/SkyFloatingLabelTextField.swift#L563) using `self.hasText()` instead of `self.editingOrSelected`

[2016-04-08 14:57] gergelyorosz commented on #23
Very true! Good point - I'll look into fixing both at the same time. I'm still a bit unsure about donig it with a property or subclassing - my gut tells me you _shouldn't_ have to subclass to be able to support this use case.

I'll create a patch for this and mention you as well, so you can take a look as well.

[2016-04-13 08:32] dcaunt opened #27 "Error state flashes if empty text is invalid"
I have a simple validator which checks if a field is empty (`!text.isEmpty`) and validation occurs when the `shouldChangeCharactersInRange` delegate method is called, as in the README example. I set the floatingLabel's errorMessage if validation fails.

Unfortunately this causes the red error state to flash briefly when text is entered for the first time, as the `shouldChangeCharactersInRange` del

[2016-04-13 08:49] gergelyorosz commented on #27
This is definitely unwanted behaviour. Let me look into if / how this can be prevented (or fixed).

[2016-04-13 10:49] dcaunt commented on #27
Thanks for the quick response. I've looked into this briefly and I'm not sure that manually calling the UITextField delegate methods is a good idea in general, because you can't be sure what side effects will occur as a result.

In my brief testing, adding a target to each field, listening for `.EditingChanged` events and performing validation there seems to avoid the flashing issue, but I wonder

[2016-04-13 21:11] gergelyorosz commented on #27
Yes, you're right that it's not good practice to manually invoke the `UITextField` delegates. We originally did this to support a bit convoluted use case around resetting the `errorMessage`.

In [this PR](https://github.com/Skyscanner/SkyFloatingLabelTextField/pull/28) I've addressed this issue - which should fix the blinking. Once reviewed, tested and merged, I'll create a new version for the con

[2016-04-13 21:13] gergelyorosz commented on #23
It _did_ feel wrong to me to add a new property to support this edge cases.

In the end I reviewed how the error message clearing works - and what felt really wrong is why there's some "magic" clearing in the first place. If a developer sets the `errorMessage`, I would expect that to be visible until it is cleared.

So I ended up solving this issue you've experienced by removing this "automatic" r

[2016-04-19 02:44] ahmad-atef opened #30 "Customize Font for Text"
I couldn't see a method to change the system font for the text. I can see for the place holder and for Selected Label.

Thanks,

[2016-04-19 13:38] dcaunt commented on #27
I've tested this against my use case, and it appears to be working nicely, so I'll close this issue. Thanks again!

[2016-04-19 13:38] #27 closed

[2016-04-20 11:40] zdenektopic opened #31 "UITextView suppoort"
Is support for UITextView planned or coming?

Z.

[2016-04-20 15:00] intonarumori commented on #30
@ahmad-atef Since it is a subclass of `UITextField` you can use the regular `font` property to set the input text font.

[2016-04-21 05:58] gergelyorosz commented on #30
@ahmad-atef +1 for the suggestion by @intonarumori . If you execute the following code, the font should be changed:

[code]
I just tested this code, and the main text is changed. Please let us know if this works for what you'd like to achieve.

[2016-04-21 06:56] gergelyorosz commented on #31
Hi @zdenektopic! We created this control to make text input easier - essentially an extension to `UITextField`. `UITextView` is for text displaying: I don't see the use case for creating something similar there.

A lot of the functionality added on top of `UITextView` applies when having a keyboard. E.g. the placeholder disappearing, and the title changing when typing text, or the style being diff

[2016-04-21 07:53] intonarumori commented on #31
@gergelyorosz  `UITextView` is for displaying and editing multiline text.
It would probably be a little bit more complex because of scrolling text, but essentially all of our implementation could be applied to `UITextField`.

[2016-04-21 08:00] intonarumori commented on #23
In the first implementation we had a default behaviour for text clearing:
- you can set the error message
- once the text is changed or cleared, the error get's cleared too
To create a custom behaviour we had `clearsOnTextChange` property. If set to `false` the error wouldn't be cleared automatically and you could handle it yourself.

I liked this setup since most of the time this is what you want

[2016-04-21 09:01] gergelyorosz commented on #31
Thanks @intonarumori, my bad on missing the editing part. So the use case would be for multiline text then, which is fair.

I think it's a reasonable request - the unfortunate part is that most of the code would have to be re-implemented and tested, both for the version without, and the one without icons. I can't see us adding this in the immediate future, but keeping this request open, so we get

[2016-04-22 13:46] gergelyorosz commented on #23
This issue should be fixed in v1.2.0. Please let me know if you still see any issues, and I can reopen this. Closing this one for now.

[2016-04-22 13:46] #23 closed

[2016-04-22 13:47] gergelyorosz commented on #30
Closing this issue - please let us know @ahmad-atef if you couldn't set the font size using the provided workaround.

[2016-04-22 13:47] #30 closed

[2016-04-22 13:48] gergelyorosz opened #38 "Code coverage broken in XCode 7.3"
XCode 7.3 outputs code coverage data to another directory, and Slather doesn't pick it up correctly. See [this issue](https://github.com/SlatherOrg/slather/issues/125) on Slather.

We will need to update Slather with the fix to get up to date code coverage.

[2016-04-23 04:44] amanbolat opened #39 "Selected title shows up very time when user touches text field"
When i implemented SkyFloatingLabelTextField to my project it doesn't work correct. Every time when i tap text field `Selected Title` will show up. Also in the examples there is only one Example 0 doesn't show selected title on tap, but others ones do.

[2016-04-25 11:27] justinswart commented on #27
Something about the change in 1.2.0 vs 1.1.1 is causing the placeholder text to appear and immediately disappear on becomeFirstResponse(). I've rolled back to 1.1.1 for now, seems to fix it.  No other code changes on my side, will investigate further soon as I have a chance.

[2016-05-02 12:17] intonarumori commented on #39
I can confirm that when textfield is selected the title first animates in the immediately animates out.
To reproduce you can use following setup in the first example:

![simulator screen shot 02 may 2016 14 15 03](https://cloud.githubusercontent.com/assets/86030/14954163/7311d15a-1070-11e6-8df0-c2a15eca9237.png)

[2016-05-03 08:24] gergelyorosz commented on #39
Thanks for both reports. I've started to look into this and am working on a fix. It seems the root of the issue is that in the current implementation there's a `titleVisible` property and an `isTitleVisible()` method - that sometimes return different values.

Also, when `highlighted` is set to true, the title is shown for a short while. I thinks this latter behaviour might cause the issue. I'm sti

[2016-05-05 20:58] reeichert opened #40 "Icon on the right side"
I need an Icon on the right side, how can I do that??

thank you

[2016-05-06 10:33] gergelyorosz commented on #40
Hi! This use case is not supported out of the box - however you can definitely do this by extending the control. You could either subclass `SkyFloatingLabelTextField`, and draw the icon to the right size. You can check how displaying an icon on the left side is implemented in `SkyFloatingLabelTextFieldWithIcon` (see source [here](https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/

[2016-05-06 12:47] intonarumori commented on #40
Maybe we should consider accomplishing the icon placement with `UITextField`s `leftView` property.
In right-to-left context `UITextField` places `leftView` on the right, so we could achieve this with very little effort.

From the [documentation](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UITextField_Class/#//apple_ref/occ/instp/UITextField/leftView):

[2016-05-06 12:55] gergelyorosz commented on #40
That's a good point @intonarumori . @reeichert - would you mind letting us know if you are using the textfield with right-to-left text (e.g. Arabic or Hebrew), or with left-to-right text (e.g. English or Spanish).

Showing the icon on the other side with right-to-left, as Daniel said, should be something we could add to the control. Configuring which side the icon is displayed is also potentially

[2016-05-07 18:29] reeichert commented on #40
Thanks for reply.
I'm using LTR text, if you can add and additional property like `iconSide = .Left` will be awesome!

[2016-05-08 09:10] pichirichi commented on #40
I think that ignorer to support this request and keep the RTL support intact iconSide should have the following states:
.Left & .Right - Will be flipped when switching to RTL language (right will become left and vice versa)
.LeftForce & .RightForce - language orientation won't change the alignment (RTL will use the same value for alignment)

So the enum should have:
.Unspecified (whet we have toda

[2016-05-09 14:14] pichirichi opened #41 "placeHolder font is not visible on storyboard like the other inspectable and doesn't impact UI"
This issue has two items that are relevant for the same property: the placeholder UIFont.
1. I've noticed that **SkyFloatingLabelTextField.swift** has an a definition of

[code]

However this doesn't reflect on the storyboard inspectable parameters.
2. When setting the **placeholderFont** font in code the change doesn't reflect in the UI.
`self.titleField.placeholderFont             = UIFont(name:

[2016-05-09 15:31] gergelyorosz commented on #31
I'll close this issue as there is not an immediate plan to add UITextView support. I do agree it would make sense though, however I see this being very much down the line - not the least because at Skyscanner we're only using the UITextField version of this control.

[2016-05-09 15:31] #31 closed

[2016-05-09 15:33] gergelyorosz commented on #40
@pichirichi good point on those potential values, as well as thinking of the "force" options. I'll give the implementation a go the next few days 👍

[2016-05-09 15:36] pichirichi commented on #40
@gergelyorosz the alignment to right is already available from the RTL support, all is required is just the property and referencing it. I might have time tomorrow to look into it if you want.

[2016-05-09 15:59] gergelyorosz commented on #40
Thanks @pichirichi . I'll try to squeeze some time in by tomorrow as well. Sounds like it will be a simple change then! (Just finishing another fix first)

[2016-05-10 07:32] pichirichi commented on #41
I found the problem for issue 2, this was happening since the placeholderFont initialisation was done in the view did load, when it was moved to viewWillLayoutSubviews problem was resolved.
Still no lead on issue 1 (why it is not visible in the storyboard).

[2016-05-13 11:35] pleasantlight opened #43 "Can't set text programatically"
It looks like the override of the 'text' member breaks the functionality - I'm calling textField.text = "Something" and nothing happens..

Either that or I'm missing something huge here :-/

[2016-05-15 15:34] pichirichi opened #44 "Fields are marked as highlighted when touch and swipe"
When touching a field (not selecting) and swiping the finger up the field is naked as highlighted although the edit is on a different field. This happen on the sample code as well (see attached) but more common if the fields are on a UIScrollView where the use swipe his finger to scroll and the fields he touch are highlighted.
Video: [https://infinit.io/_/VCNUPNF](url)
![screen shot 2016-05-15 at

[2016-05-16 21:15] gergelyorosz commented on #43
Hi! In `ShowcaseExampleViewController.swift` at line `82` if I add this line:

[code]

Then I see the text being set as expected:

<img width="367" alt="screen shot 2016-05-16 at 22 14 10" src="https://cloud.githubusercontent.com/assets/1094502/15304133/8ceaffcc-1bb3-11e6-8591-f1291ebec841.png">

Can you share an example on where you can't get the `text` property to work? Without being able to rep

[2016-05-18 11:31] pleasantlight commented on #43
Hi Gergely,

Sorry man, my bad! I'm doing something weird with a UICollectionView in which the text fields are located, this caused the problem.

Please close and ignore!

[2016-05-18 11:31] #43 closed

[2016-05-18 12:17] pichirichi commented on #44
The latest update solved the problem, thanks!

[2016-05-18 12:17] #44 closed

[2016-05-18 21:48] danlozano commented on #39
I did have this problem with version 1.1.1, ironically after updating to version 1.2.0 (which was meant to fix this problem, that I personally did not have) now I DO have the problem 🤔, weird.

Downgraded back to 1.1.1 and I no longer have the title flashing problem.

[2016-05-19 13:20] reeichert commented on #40
up

[2016-05-19 17:56] gergelyorosz commented on #39
@danlozano thanks for the report. We've just very recently fixed this, and I've created a new release, v1.2.1. If you upgrade to this one, this bug should no longer be present.

[2016-05-19 21:20] danlozano commented on #39
Awesome! Thanks for the great POD 👍

[2016-05-19 21:42] #39 closed

[2016-05-21 16:19] amarcadet opened #48 "Title stay in selected style when the keyboard is dismissed interactively"
In my case I have a `UITableViewCell` subclass that contains a `SkyFloatingLabelTextField`.
The `UITableView` is configured in interactive mode for the keyboard dismiss `self.tableView.keyboardDismissMode = .Interactive`.

When I do while having a textfield focused, the title keep the "selected style" even though I'm not editing anymore.

Thanks for your help!

[2016-05-22 16:06] arashdoescode opened #49 "how do i validate 4 SkyFloatingLabelTextField?"
Let say I have 4 SkyFloatingLabelTextField, how would I validate it in

one function

[code]

My current Attempt

[code]

but apparently it shows all the errors at the same time, when I select on one of the text field

[2016-05-22 16:15] pichirichi commented on #49
Add a tag to each textField and validate according to the tag. the nested validation above will be hard to maintain.

[2016-05-22 18:54] gergelyorosz commented on #49
Hi @arashdoescode . Your code is validating *all* of the textfields, whenever *any one* of these are changed. If you only want to validate the textfield that is being changed, you can follow the [ShowcaseExampleViewController.swift](https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/SkyFloatingLabelTextField/SkyFloatingLabelTextFieldExample/Example0/ShowcaseExampleViewController.s

[2016-05-23 09:50] amarcadet commented on #48
After few more tests it occurs that this bug only happens when you dismiss the keyboard with the first touch on the text field and drag down from that point.

Once the text field is in that state, it's not possible to go back to the normal state, the title stay selected even if I dismiss the keyboard without touching the text field.

I don't know if the use case is clear enough, if not I'll try to

[2016-05-24 13:59] amarcadet opened #50 "rightView and leftView are ignored in editingRectForBounds"
The rightView frame is ignored in `editingRectForBounds`, `textRectForBounds` and so on.

See below:

![](https://infinit.io/_/N7kgzp7.png)

I have implemented the behavior in a subclass, hope it will help you.
In my case I didn't have the need for a leftView, so you might need to take care of updating the `x` as well.
Also I don't know if you wouldn't have conflict with your `icon` property or yo

[2016-05-25 21:52] acecilia commented on #49
As a suggestion, why don't you try validating it applying reactive programming? Right now I am using [RxSwift](https://github.com/ReactiveX/RxSwift) for validating my textFields. There are lots of examples, for example [this](http://stackoverflow.com/questions/34060976/rxswift-enable-disable-button-based-on-textfields-are-not-empty)

[2016-05-26 13:43] arashdoescode commented on #49
Thank you gergelyorosz  for helping me

[2016-05-29 04:33] pprevalon opened #52 "can this pod be use without writhing codes"
can this pod be use without writhing codes. Can i use the textfield from xcode?

[2016-06-04 23:14] pprevalon opened #53 "icons do not work, question mark appear"
icons do not work theres a question mark. when i copy the example i get the same error how can i fix this

[2016-06-05 01:41] pprevalon commented on #53
fixed. i had to add FontAwesome to the app

[2016-06-12 19:29] sprint84 opened #54 "Swift 2.2 warning"
When compiling in carthage, I am getting this warning message:

SkyFloatingLabelTextField/Sources/SkyFloatingLabelTextField.swift:271:38: warning: use '#selector' instead of explicitly constructing a 'Selector'

[2016-06-18 11:13] EnesCakir opened #55 "Swift 3.0"
Thanks for great library.
Are you planning to publish a swift3 branch? When I tried to build it in Swift 3, it gives 78 error.

[2016-06-20 05:53] pprevalon opened #56 "does your pod support resign responder"

[2016-06-23 17:48] jakunico commented on #48
I was facing a similar issue and solved it by setting `highlighted = false` on `resignFirstResponder()`:

[code]

[2016-07-06 21:23] jmjordan opened #57 "Feature request: move clear button so it is centered with text"
This library would be perfect if the clear button was centered vertically with the text/placeholder instead of the entire view.

[2016-08-01 09:22] davidrobertovenegas opened #59 "Failed to Update Auto Layout Status"
I'm getting the following error:
<img width="348" alt="screen shot 2016-08-01 at 11 19 09 am" src="https://cloud.githubusercontent.com/assets/3959779/17289416/eadc8c92-57d9-11e6-8e25-48fd9e345328.png">

I'm using XCode 8 and swift 2.3.

What do you advice?

[2016-08-16 15:49] cooler333 commented on #48
+1

[2016-08-16 16:09] cooler333 commented on #48
@jakunico This doesn't fix it. This help to remove highlight state, but sometimes, title stay highlighted.

[2016-08-24 22:03] kylejm commented on #50
This looks like it could fix #40.

@gergelyorosz did you ever get time to look into this like you mentioned in #40? If not I'm happy to work on a PR for this :)

[2016-08-31 23:11] lifemoveson opened #64 "does your library support delegate methods"
Currently when I use the library and assign the delegates to the textfield being created in the loop; it does not respond to the click events. Is there a defect open for it yet ?
Following is my code for it..

[code]

[2016-09-13 19:28] codytwinton commented on #55
Love you library! Can you please enable a `swift3` branch we can create pull requests for.

[2016-09-14 07:34] tentenlee100 commented on #59
update cocoapods to 1.0.1 , it will work.

[2016-09-15 21:05] ossmalpha commented on #55
When it is planned to release the converted (to Swift 3) branch?

[2016-09-16 07:55] rolmaz commented on #55
Swift 3 branch?

[2016-09-19 12:18] MOMMH2008 commented on #59
same Problem with me

[2016-09-21 07:15] Tibb commented on #55
No activity on Github or any social network since July... Hope he's just on extended holidays :)

[2016-09-21 07:48] wolffan commented on #55
Hello all.
Apologies, it's not "exactly" holiday 😵. I'll dedicate some time this week and look at the swift 3 PR's.

[2016-09-21 08:00] Tibb commented on #55
@wolffan Sorry about that, the latest commit was from gergelyorosz, who is the only profile I quickly checked.
Thanks a lot for your answer and good luck 👍

[2016-09-22 15:46] kwstasna commented on #55
So what's going on with the swift 3 version!?! Hope to see it soon 👍

[2016-09-23 19:19] codytwinton commented on #55
@wolffan - Is there anyway a `swift3` branch could be created so we can make pull requests there?

[2016-09-27 15:23] mosn opened #68 "placeholder text alignment"
Thank you for awesome library.

Is there anyway to center align placeholder ?
I can see `textAlignment` only works on `text not placeholder

[2016-10-03 16:29] Downstairz opened #70 "Does the library allow for overriding text that's uppercase"
The title label is uppercase by default.  Trying to find a way to override it.  I can't find a way to do so.

[2016-10-03 17:14] intonarumori commented on #70
@Downstairz

Check the `titleFormatter` property. By default it will convert the given string to uppercase, but you can set it to anything you like.

https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/Sources/SkyFloatingLabelTextField.swift#L144

[2016-10-03 17:22] Downstairz commented on #70
@intonarumori thank you!

[2016-10-03 17:22] #70 closed

[2016-10-03 17:27] intonarumori commented on #64
@lifemoveson : `SkyFloatingLabelTextField` is a subclass of `UITextField`, so you can use it the same way you would use a simple textfield.

Which of these delegate methods did you implement? (https://developer.apple.com/reference/uikit/uitextfielddelegate)

[2016-10-04 23:06] lfarah commented on #55
Hey, I'd love to see this lib available in Swift 3 so I can implement it in my project.

Thanks 😄

[2016-10-05 06:24] Tibb commented on #55
@kwstasna @codytwinton @lfarah Until the DenHeadless pull request is accepted or until @wolffan develops his own, you can use it like this in your Podfile:

`pod 'SkyFloatingLabelTextField', git: 'https://github.com/MLSDev/SkyFloatingLabelTextField.git', branch: 'swift3'`

It compiles and seems to work great so far.

[2016-10-05 06:25] lfarah commented on #55
Thanks @Tibb, you're awesome! 🎉

[2016-10-05 13:26] wagnercasey commented on #55
@Tibb for real awesome! thanks! running great.

[2016-10-05 14:50] Tibb commented on #55
Thx guys but all the credit goes to @DenHeadless who create the pull request. I'm just indicating how to integrate it in your project with CocoaPods ;)

[2016-10-06 14:59] MaeseppTarvo opened #71 "Issue on Password text field"
Hey! I found issue where if you have password text field with secure text entry. If Secure text entry is enabled, then the line color is not working. Only selected line color is working. Is there any workaround? I am using the swift 3 branch.

[2016-10-06 15:04] #71 closed

[2016-10-06 17:38] Rashesh-Bosamiya opened #72 "Swift 3 support"
where to download swift 3 version of this library?

[2016-10-08 03:13] ndrewh commented on #59
This appears to be an issue with Swift 2.3 and Xcode 8. If you let Xcode convert the code to Swift 3 it will work. The converter actually does a pretty good job for the files in this Pod.

[2016-10-08 10:35] c4ndy4ndy commented on #72
@Rashesh-Bosamiya There is a fork of the repo with an existing Swift 3 branch available. Just look at https://github.com/MLSDev/SkyFloatingLabelTextField.

You can easily integrate it with CocoaPods with this one-liner:

pod 'SkyFloatingLabelTextField', git: "https://github.com/MLSDev/SkyFloatingLabelTextField.git", branch: "swift3"

[2016-10-08 15:50] MaximeChaillou commented on #59
You can add the path /Applications/Xcode.app/Contents/Developer/Toolchains/Swift_2.3.xctoolchain/usr/lib/swift/iphonesimulator to the LD_RUNPATH_SEARCH_PATHS setting on the target of SkyFloatingLabelTextField if you use Cocoapods. It worked for me. No error anymore.
Source : https://forums.developer.apple.com/thread/63237

[2016-10-10 14:10] skerkewitz commented on #59
Did the **LD_RUNPATH_SEARCH_PATHS** settings fix the problem for somebody else? Because for me it is not working.

[2016-10-12 18:31] maarek commented on #48
I am seeing an issue where I have SkyFloatingLabelTextField's on a UITableViewCell and while clicking and dragging to scroll the tableview over other cells seems to somehow set the highlighted state on the textfields (maybe its an issue in cell reuse). I've tried resetting highlighted state but this seems to come later that when I can inject/change it. Selecting the text field and deselecting does

[2016-10-15 18:26] codytwinton commented on #72
+1

[2016-10-17 21:58] KiGi commented on #59
Just wanted to say that worked for me also, but I'm really adding this note so that Google can see the error relates to the symbol TMps13OptionSetType - googling for that finds nothing at all!

[2016-10-20 12:16] skerkewitz opened #73 "Wrong validation example."
Hello,

are you aware that the validation example you show under `Error state and delegates` has little flaw? You validate the text of the textfield before the actual text change and not after the text change. So basically your validation is always one char behind what actual going on in the textfield.

Anyways, keep up the good work!
Stefan

[2016-10-22 08:05] danipralea commented on #52
Yes you can. You have a plethora of options
![screenshot 2016-10-22 11 05 28](https://cloud.githubusercontent.com/assets/768893/19617975/7bdc5274-9847-11e6-8f4c-b31699ff375e.png)

[2016-10-24 12:50] skerkewitz commented on #59
By the way: you can add the fix into your Podfile as post install hook. So you don't have to do it every time you do a `pod update` or `pod install`:

[code]

[2016-11-02 17:12] #52 closed

[2016-11-08 07:55] hlung commented on #49
You can use `self.emailOrUsernameTextField.addTarget(self, action: #selector(textFieldDidChange), for: .editingChanged)` and `func textFieldDidChange(textField: UITextField) { ... }` to trigger validation on every character change.

[2016-11-08 13:44] borut-t commented on #72
+1

[2016-11-10 00:54] jcarrharris commented on #72
+1

[2016-11-16 22:15] eliasturbay commented on #72
+1

[2016-11-21 19:11] jaredegan commented on #72
I've been using the MLSDev fork for a while and it's been working like a charm. Hope you can add Swift 3 support in this repo directly to simplify `Podfile` & `podspec` dependencies.

[2016-11-23 14:31] wagnercasey commented on #72
Agree with above - the MLSDev swift 3 fork has been flawless. Should definitely get pulled in to main branch.

[2016-11-24 08:07] Tibb commented on #72
Same here - I'm based on the MLSDev fork for almost 2 months. Everything is great. This could definitely be pulled into the main branch

[2016-11-29 10:14] k0nserv commented on #55
Hey everyone, sorry this has taken such a long time. This project lost its maintainer when gergelyorosz left Skyscanner, but me and @wolffan are looking at releasing the Swift 3 version in the next few days. We are also likely to add someone from the community as a contributor to reduce dependency on the two of us.

[2016-11-29 10:23] k0nserv commented on #72
See #55

Closing this so we have a single issue to track this.

[2016-11-29 10:23] #72 closed

[2016-11-29 10:24] k0nserv commented on #64
Closing due to inactivity and the answer from @intonarumori

[2016-11-29 10:24] #64 closed

[2016-11-29 10:24] k0nserv commented on #73
I'll have a look at this at some point, but if you wanna send a PR after we merge the Swift 3 branch in #67 that'd be awesome

[2016-11-29 10:26] k0nserv commented on #56
Yes since it inherits from `UITextField` it supports everything that a UITextField will do including resigning first responder

[2016-11-29 10:26] #56 closed

[2016-11-29 10:27] #49 closed

[2016-11-29 11:20] #53 closed

[2016-11-29 11:22] #41 closed

[2016-11-29 11:23] k0nserv commented on #54
This is a 2.3/2.2 issue I believe? It will be fixed in the next version since #69 has been merged now.

[2016-11-29 11:23] #54 closed

[2016-11-29 15:08] codytwinton commented on #55
@k0nserv - Thanks for making this happen!

[2016-11-30 02:49] lfarah commented on #55
Hey @k0nserv, let's talk! I'd be more than happy to start contributing more and help you guys out

[2016-11-30 09:59] #59 closed

[2016-11-30 09:59] k0nserv commented on #55
1.3 is out with Swift 2.3 support. Focus now is to get the changes in #67 released as 2.0

[2016-12-02 10:49] nazrdogan commented on #55
+1

[2016-12-02 10:51] smdulgeroglu commented on #55
+1 can't wait thanks a lot

[2016-12-03 09:04] #38 closed

[2016-12-04 21:03] ghohh opened #80 "RTL support for floating placeholder?"
i changed the text alignment with isLTRLanguage = false or .textallignment = .right

both work for the the actual place holder but not the floating one, how can i manually change the alignment of the floating text?

[2016-12-07 11:54] k0nserv commented on #55
#67 is merged now, if someone wants to point their pod version at master and check if that works well that'd be great. I'm preparing the 2.0 release

[2016-12-07 15:08] k0nserv commented on #55
That's 2.0 release with Swift 3 support. Please raise any bugs as a new issue.

![image](https://cloud.githubusercontent.com/assets/1333960/20973008/d3689974-bc8e-11e6-9d86-39c4904c2a0a.png)

https://cocoapods.org/pods/SkyFloatingLabelTextField

[2016-12-07 15:08] #55 closed

[2016-12-07 20:41] lfarah commented on #55
@k0nserv you're awesome!!!!!!!!!

[2016-12-12 08:18] fadylateef opened #83 "Please Update for SWIFT 3 ?"
everyone's is updating their libraries, thanks in advance for great library

[2016-12-12 08:58] Tibb commented on #83
@fadylateef the `master` branch is on Swift3.

First paragraph on the README:

;)

[2016-12-12 10:01] bogren commented on #83
☝️  As mentioned, versioned 2.0 is compatible with Swift 3. Link to the docs [Docs/installation](https://github.com/Skyscanner/SkyFloatingLabelTextField#installation)

[2016-12-12 10:01] #83 closed

[2016-12-12 11:57] HarishHary opened #84 "Padding with line height & selected line height"
Hi,

I have started to use your framework. And I noticed that i can't move the bottom line. No matter what i do with line height and selected line height. It does the same thing. I make the line bigger.
Do you have a solution ?

Regards,

Hary

[2016-12-13 00:18] patchthecode opened #85 "what exactly do i put in my podFile for your latest swift version?"
this in my podfile does not work

[code]

[2016-12-13 00:20] patchthecode commented on #85
seems it was a cocoapods issue.

[2016-12-13 00:20] #85 closed

[2016-12-13 09:19] k0nserv commented on #84
I'm not sure on this. I haven't read the code well enough to know if this should be possible or not. My gut feeling from the quick look I have had is that it's not changeable at the moment. I can have a thorough look when I find the time, but feel free to look at the code yourself. If it's changeable it should be in here https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/Sources/S

[2016-12-13 16:35] k0nserv commented on #85
Glad it worked out 👌🎉

[2016-12-19 09:53] pmbfish40 opened #86 "Is possible to decrease placeholder size after animation?"

[2016-12-19 15:55] ImranIB opened #87 "Secure text field for password"
![simulator screen shot dec 20 2016 6 57 44 am](https://cloud.githubusercontent.com/assets/10369328/21319141/d5749116-c62d-11e6-8cfc-67ac2d518f6d.png)
Hello! Any help how to implement password field using secure text entry because in UIView no such thing exists.

Thanks.

[2016-12-19 18:43] k0nserv commented on #87
This should work out of the box with just

[code]

or

[code]

in Objective-C

[2016-12-20 07:41] ImranIB commented on #87
![screen shot 2016-12-20 at 10 40 18 pm](https://cloud.githubusercontent.com/assets/10369328/21342035/90241f08-c6b1-11e6-8824-1f522e9978e5.png)

[2016-12-20 07:50] ImranIB commented on #87
Actually i am using SkyFloatingLabelTextFieldWithIcon class to show icons in text field.Any help?

[2016-12-20 08:03] k0nserv commented on #87
My bad in Swift 3 it would be

[code]

[2016-12-20 08:36] ImranIB commented on #87
Thanks! It worked fine.

[2016-12-20 08:38] #87 closed

[2016-12-21 06:38] PiyushSanepara opened #88 "Error: [MC] Reading from public effective user settings."
Swift version: Swift 3.0
Xcode version: Xcode 8.1

[2016-12-21 08:50] k0nserv commented on #88
Could you include some more error output and code to illustrate the problem?

[2016-12-21 08:52] k0nserv commented on #86
The placeholder in the field itself?

[2016-12-21 08:54] pmbfish40 commented on #86
When placeholder animated on top of the text it remains with same size. Will be better if we can set the size of that as well

[2016-12-21 08:58] k0nserv commented on #86
Have you tried setting the `placeHolderFont` property?

[2016-12-21 09:02] pmbfish40 commented on #86
I tried this but nothing changed there

`emailField.placeholderFont = UIFont(name: "MavenPro-Bold", size: 11)`

[2016-12-21 09:04] k0nserv commented on #86
Hmm, I'l have to have a try later then. @bogren any ideas?

[2016-12-21 09:46] PiyushSanepara commented on #88
2016-12-21 15:15:26.941776 FloatLabelDemoNew[309:43804] [MC] System group container for systemgroup.com.apple.configurationprofiles path is /private/var/containers/Shared/SystemGroup/systemgroup.com.apple.configurationprofiles
2016-12-21 15:15:26.946414 FloatLabelDemoNew[309:43804] [MC] Reading from public effective user settings.

[2016-12-21 10:05] k0nserv commented on #88
Is this actually causing any problems? From [this](https://stackoverflow.com/questions/40024316/reading-from-public-effective-user-settings-in-ios-10) Stackoverflow question it seems like it should be causing any problems and is only a harmless log message

[2016-12-21 10:15] PiyushSanepara commented on #88
![img_0019](https://cloud.githubusercontent.com/assets/16892454/21385296/f31c5854-c793-11e6-9625-503a41157d64.jpg)

See the screen, i am setup Title Color for both field (Email and Password), but it work for password only.

[2016-12-21 10:16] k0nserv commented on #88
Can I see your code? It might be a different problem

[2016-12-21 10:26] PiyushSanepara commented on #88
I am using this with attribute inspector see:
![screen shot 2016-12-21 at 3 55 48 pm](https://cloud.githubusercontent.com/assets/16892454/21385809/1393f946-c796-11e6-8b5e-3f0be4f658a3.png)

[2016-12-21 10:50] bogren commented on #88
To answer your first question: If you link with iOS 10 you must declare access to any user private data types. You do this by adding a the key and description to your app's Info.plist. Here is a list of frameworks: Contacts, Calendar, Reminders, Photos, Bluetooth Sharing, Microphone, Camera, Location, Health, HomeKit, Media Library, Motion, CallKit, Speech Recognition, SiriKit, TV Provider.

This

[2016-12-21 10:58] bogren commented on #88
I need more info to be able to answer your second issue. You can try to set the `titleColor` using the designables.

<img width="259" alt="screen shot 2016-12-21 at 11 55 40" src="https://cloud.githubusercontent.com/assets/2457281/21386743/91248a50-c774-11e6-9d35-cec5995c282c.png">

[2016-12-21 11:02] PiyushSanepara commented on #88
@bogren i try designables but it doesn't work

[2016-12-21 15:08] bogren commented on #86
You can use `textField.placeholderFont` to set the placeholder, place make sure the font is imported and available in your project if it's not a default font.

Use the font property of the title label if you want to edit the font of the text shown above the field. e.g. `textField.titleLabel.font = UIFont(name: "MavenPro-Bold", size: 11)`. Again, please make sure your custom font is imported and is

[2016-12-27 10:23] dexcell commented on #83
My podfile already set to version 2.0.0
But the this confirmation window still shown for me (using objective c)

**Convert to Current Swift Syntax?**

[2016-12-27 10:30] bogren commented on #83
Is your project updated to use Swift 3? If not, I suggest you convert to the lastest syntax. There shouldn't be any code changes if all your pods are supporting Swift 3.

[2016-12-27 10:34] dexcell commented on #83
It's a new xcode project (objective c though), should be using swift 3 by default.

As shown here that some of the **SkyFloatingLabelTextField** code developed with earlier version of swift

![screen shot 2016-12-27 at 5 31 25 pm](https://cloud.githubusercontent.com/assets/41800/21497889/998928b4-cc5a-11e6-86c0-e2a66090298b.png)

Click convert will end up throwing errors.

[2016-12-27 10:39] bogren commented on #83
Try `pod update SkyFloatingLabelTextField` to pull the lastest version. If that doesn't work you can try to remove the pods folder e.g `rm -rf Pods/`, update the repo `pod repo update` and then reinstall your pods `pod install`.

[2016-12-27 12:33] dexcell commented on #83
I even tried to specify git and download the master branch but no luck,
i think you can try to reproduce it, by creating new xcode project with objective c language.

Here is the screenshot again:
![screen shot 2016-12-27 at 7 30 58 pm](https://cloud.githubusercontent.com/assets/41800/21499770/4f33cdda-cc6b-11e6-99e6-9e0354a7618d.png)

[2016-12-27 12:45] bogren commented on #83
I can reproduce the issue 👍

[2016-12-27 12:59] bogren commented on #83
I'm not sure why Xcode prompt the migration - probably since the project is not setup with Swift. What I did, I choose to migrate, end up with a few errors but the project build and the errors are gone after the build completes. Instead of pushing the changes in `Pods/SkyFloatingLabelTextField` you can delete the pod and reinstall. Your project is going to end up with Swift 3 support, and you'll g

[2016-12-27 13:01] dexcell commented on #83
thanks man 🍺

[2016-12-27 20:49] alelevinas commented on #40
Hello everybody.

I was looking for something like this

![passwordfield](https://cloud.githubusercontent.com/assets/12226623/21508047/621e3c6e-cc5c-11e6-9920-3b2706ae31f9.png)
A responsive icon on the right ;)

Anyone did an extension or something you can help me with. If not I'll try @gergelyorosz  suggestion.

Thanks in advance

[2016-12-28 11:36] LukA888 opened #89 "Align icon with"
Hi! :)
How can I align FontAwesome's icon vertically with the text entered by the user?
I know that exists iconMarginBottom but if I run the app on different devices, the final result is different.

Thank you!

[2016-12-29 19:10] StevenArmandLee opened #90 "show title when the user tap on it"
hi,
I'm wondering if it is possible to show the title when the user tap on it rather than type something?

[2017-01-01 06:13] ThoseGuysInTown opened #91 "Trying to use a different Font"
I tried to use another font but it causes problems with the text that lays above the text field.
![image](https://cloud.githubusercontent.com/assets/4297257/21580391/62108798-cfa6-11e6-83de-20b1f4a55050.png)

It clears up a bit when I remove focus from the text field.
![image](https://cloud.githubusercontent.com/assets/4297257/21580380/1f918ca0-cfa6-11e6-875c-fd1d6e7a1a60.png)

[2017-01-01 06:19] ThoseGuysInTown commented on #91
Never mind! Setting constraints up fixed this. Good thing I did, I almost just used another lib.

![image](https://cloud.githubusercontent.com/assets/4297257/21580398/1a62c3ec-cfa7-11e6-84a3-e96fdf1744d1.png)

[2017-01-01 06:19] #91 closed

[2017-01-01 06:27] ThoseGuysInTown commented on #91
For those that want to change the title font go to "SkyFloatingLabelTextField.swift" in the pod files
and at line 287 set it equal to self.font or whatever font you want to use. 🔥

[2017-01-05 14:26] korgx9 opened #92 "title default color"
on lost first response, title color doesn't become to default(gray) but stays as selected color(yellow)

how to update title color to default?

[2017-01-08 16:54] Rufy86 opened #93 "Linker Problem"
I've added manually this label text field in my objective-c project and added also the framework. when run the project on physical device o simulator all work perfectly but when I built the project to archive and send the package to Apple, the Xcode's Linker say me that:bitcode bundle could not be generated because '.../SkyFloatingLabelTextField.framework/SkyFloatingLabelTextField' was built witho

[2017-01-10 04:30] ThoseGuysInTown commented on #31
Any plans for this yet?

[2017-01-10 09:53] k0nserv commented on #31
To my knowledge we are no logner actively using SkyFloatingLabelTextField internally and I as the primary maintainer don't work on iOS in my primary role. I'm open to this being contributed from the community, but it's unlikely we'll implement it ourselves.

[2017-01-10 09:54] k0nserv commented on #93
How are you integrating the project? Are you using CocoaPods? Can you paste your config here please.

@bogren any ideas?

[2017-01-10 12:07] Rufy86 commented on #93
I'm not using CocoaPods, because I don't like it. in the readme file you write:"You can download the latest files from our Releases page. After doing so, copy the files in the Sources folder to your project."

I've done this, but when I write @import SkyFloatingLabelTextField; Xcode give me an error and ask the framework. so I have to import also the framework but when archive for AppStore, Xcode

[2017-01-10 12:11] intonarumori commented on #93
@Rufy86  If you add the source files to the project you shouldn't need any `@import`s.
I will be compiled just as all of your other classes.
Please open a new project, add the source files to that project and try to use it without imports. It should compile and work without any issues. But if it doesn't please send me that clean project so we can take a look.

[2017-01-10 15:21] Rufy86 commented on #93
@k0nserv I've tried and give me some error.
[prova.zip](https://github.com/Skyscanner/SkyFloatingLabelTextField/files/696497/prova.zip)

i've had to make some edit to build setting. but nothing. don't work.

maybe I don't make something. I don't know

[2017-01-10 16:19] intonarumori commented on #93
@Rufy86
Here's the fixed version:
[prova.zip](https://github.com/Skyscanner/SkyFloatingLabelTextField/files/696685/prova.zip)

I had to change two things:
- when you use Swift code from Obj-C you have to import the automatically generated header file which in your case is `prova-Swift.h`. Not to be confused with the bridging header which is used when you want to use Obj-C code from Swift

- in the

[2017-01-11 17:52] vytautasgimbutas opened #95 "GCC_INSTRUMENT_PROGRAM_FLOW_ARCS in project file"
Hi,
i've tried submitting an app which recently has added SkyFloatingLabelTextField and I get an error:
http://stackoverflow.com/questions/34581925/xcode-do-not-submit-apps-with-gcc-style-coverage-ios-upload-processing-error

I see that you set  GCC_INSTRUMENT_PROGRAM_FLOW_ARCS to YES in your project file which seems to me to be what's causing the issue.

[2017-01-11 20:30] k0nserv commented on #95
How are you integrating the project?

[2017-01-12 07:00] vytautasgimbutas commented on #95
I'm integrating it via Carthage.
I can confirm that after changing the values to NO in release for constants GCC_GENERATE_TEST_COVERAGE_FILES, GCC_INSTRUMENT_PROGRAM_FLOW_ARCS, rebuilding the framework (without checking it out) I was able to upload successfully the binary to iTunes connect. I found that some people also got around this issue with setting bitcode to NO, but in my project it is set

[2017-01-12 11:24] k0nserv commented on #95
Thanks, I'll change that an issue a new release.

[2017-01-12 11:24] #95 closed

[2017-01-14 11:01] Hsanka6 opened #96 "Icon showing up as question mark"
I added the fontawesome pod but its still not showing when i use
foodTextField.iconFont = UIFont(name: "FontAwesome", size: 15)
foodTextField.iconText = "\u{f072}"

I'm using swift3

[2017-01-16 15:21] k0nserv commented on #96
I suspect this is due to the font not being found. I'm unfamiliar with it myself, can you create a small project that reproduces this?

@bogren any ideas?

[2017-01-16 23:15] k0nserv commented on #95
This just went out in release 2.0.1. Thanks for reporting and helping find the fix @vytautasgimbutas

[2017-01-17 08:34] bogren commented on #96
Make sure the font is added to the plist or if you're using one of the pods that the file using the font imports the pod. As Hugo mentioned, if you upload a small project that reproduces the issue we can take a look 😊

![screen shot 2017-01-17 at 09 31 28](https://cloud.githubusercontent.com/assets/2457281/22013165/f4460f68-dc97-11e6-867e-35627cab26f6.png)

[2017-01-17 08:38] bogren commented on #92
You can use the `yourTextField.titleLabel` to edit properties of the titleLabel, e.g `titleLabel.font` or `titleLabel.textColor`.

[2017-01-17 08:56] bogren commented on #90
Hey, there is a few thing you can do to make the title visible. Best result imo, is if you implement the two delegate methods for `textFieldDidBeginEditing(_ textField: UITextField)` and `textFieldDidEndEditing(_ textField: UITextField)`. You can use this [method](https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/Sources/SkyFloatingLabelTextField.swift#L415-L422) to hide or show

[2017-01-17 08:59] bogren commented on #89
Ah, I found this a annoying as well. I'll take a closer look. If you find a solution before I do, submit a PR! 😊

[2017-01-17 09:20] k0nserv commented on #93
@Rufy86 can you confirm that the fix from @intonarumori works?

[2017-01-17 17:31] Rufy86 commented on #93
@k0nserv yes. confirm that the fix from @intonarumori works. I'm sorry for late. but, please! Write correctly how to install manually this framework.

[2017-01-17 17:34] k0nserv commented on #93
We encourage the use of a package manager such as CocoaPods or Carthage. This is reason that the instructions for manual integration are sparse, we expect people performing the manual integration to have sufficient expertise in integrating third party project to sort it out themselves. We'll consider it, but I'd recommend you use a package manager instead.

[2017-01-17 17:34] #93 closed

[2017-01-17 22:40] Rufy86 commented on #93
I understand, but not all people use or want use CocoaPods or Carthage. In fact I hate this package manager. I prefer or make all code or install it manually. If you insert this information, you make your project more complete about the information.

But it only a suggest.

[2017-01-17 22:55] intonarumori commented on #93
@Rufy86 If you feel that guide is missing nothing stops you from writing it and contributing yourself.

After I fixed your example and gave you advice about Swift/Obj-C interoperability I believe you have all the information needed.

Please be proactive and contribute, this is an open-source project.

[2017-01-18 03:17] Hsanka6 commented on #96
@bogren  I have tried that as well as adding the pod

[2017-01-18 03:17] Hsanka6 commented on #96
Ill post a repo with an example soon

[2017-01-18 07:47] Hsanka6 commented on #96
does the pod import the ttf file?

[2017-01-18 07:56] Hsanka6 commented on #96
https://github.com/Hsanka6/samp

[2017-01-18 07:56] Hsanka6 commented on #96
i added the plist thing and pod still didnt work

[2017-01-18 08:54] bogren commented on #96
The pod you're using is not the same thing as we use in SkyFloatingLabelTextField. I have a few options for you: you can add the font.ttf and add it to your project, try this [pod](https://github.com/thii/FontAwesome.swift). With the pod I linked, you can use something like this: (I did a quick test in your sample ✅)
[code]
 If you really want to use the pod you used in your sample project I sugge

[2017-01-18 18:01] Hsanka6 commented on #96
is this the pod you used ? @bogren  pod 'FontAwesome.swift' and did you have the pod and ttf file?

[2017-01-18 20:21] bogren commented on #96
Yes, run pod install, and import the pod in the class where you want to use it `import Font_Awesome`, and you should be able to use the code form the snippet I posted ☝️

[2017-01-18 21:21] Hsanka6 commented on #96
I did what you asked imported font_awesome but my project cant find it and i added the font provided in info.plist. I updated my project on github. Can you check why it's still not working

[2017-01-24 11:49] ImranIB commented on #96
First download that font from the link. https://github.com/FortAwesome/Font-Awesome/blob/master/fonts/fontawesome-webfont.ttf. Include it in your project. Add font in info.plist. In xcode use it like that

emailTextField.iconText = "\u{f003}"

[2017-01-25 02:08] mania3908 opened #99 "Trying to animate input view container using layoutIfNeeded causes field animation to trigger also"
I have a UIview as a container for a SkyFloatingLabelTextField and another uiview that can grow its height. Im trying to animate that growing but when i use layoutIfNeeded for the container, i also can see the text for the input animating from the top to its position in the input field.

Is there a way to prevent the animation in this case?

[2017-02-01 16:05] #96 closed

[2017-02-01 16:05] #92 closed, assigned to nobody

[2017-02-01 16:05] #90 closed

[2017-02-01 16:06] #86 closed

[2017-02-03 12:58] dineshrajas commented on #68
+1

[2017-02-03 16:46] k0nserv commented on #68
I don't believe so currently. My assumption is that the label container is only as big as it needs to be to fit the label and thus alignments have no effect. I've not looked at the code though so just speculating now

[2017-02-03 17:50] k0nserv commented on #68
You are talking about the label right? I can center the placeholder and text with

[code]

*Without value*
![image](https://cloud.githubusercontent.com/assets/1333960/22601918/08175304-ea39-11e6-9963-ef33045206a2.png)

*With value*
![image](https://cloud.githubusercontent.com/assets/1333960/22601926/0f1a1092-ea39-11e6-8b98-b2471262b6fc.png)
_Here the label is not aligned with the rest of the conte

[2017-02-03 17:55] k0nserv commented on #68
Is this what you are looking for?

[code]

![image](https://cloud.githubusercontent.com/assets/1333960/22602132/de498e1a-ea39-11e6-8cdd-95265a7fe173.png)

[2017-02-03 17:56] mosn commented on #68
Yup, That's exactly what I was looking for.

Thanks

[2017-02-03 17:56] #68 closed

[2017-02-03 17:57] k0nserv commented on #68
Great, happy it helped :)

[2017-02-05 09:58] bogren commented on #99
You can try to empty the queue of waiting layout operations with `layoutIfNeeded` and use it again when you try to grow your view.

[2017-02-05 18:11] pmbfish40 opened #100 "Why action touch down not working here?"
When I am using UITextfield action touch down is working but when I switch to SkyeFloatingLabelTextField its not working. Why?

[2017-02-06 09:55] skerkewitz commented on #99
I have the same problem. @mania3908 did you found a solution?

To be honest: this is a bug in SkyFloatingTextField for me and I should not worry to workaround it.

[2017-02-06 10:42] intonarumori commented on #99
Thanks guys for reporting, I can take a look.
If you can provide a sample project to reproduce it would make it much faster to track it down.

Thanks.

[2017-02-06 13:28] skerkewitz commented on #99
I can fix my issues by adding a simple `layoutIfNeeded()` before the animation block in -`[SkyFloatingLabelTextField updateTitleVisibility:completion:]`. As far as I know you should add such a call in front of an animation block anyways.

See http://stackoverflow.com/a/12664093/5385140 - unfortunately the Apple link is down.

@mania3908 can you give it a try and check if your problem is also gone?

[2017-02-06 15:12] intonarumori commented on #99
Calling `layoutIfNeeded` is usually needed when you want to animate constraint based layout changes. It's usually not required before regular UIView animations.

Can you provide a stripped down example to demonstrate the problem?

[2017-02-06 15:14] intonarumori commented on #100
Can you provide an example project / code to demonstrate the issue?

[2017-02-07 19:48] msilva opened #105 "Ability to NOT capitalize titleLabel"
I'd like to keep the case of the titleLabel consistent with the placeholder text.  Currently, if placeholder is "First Name", title will show as "FIRST NAME".  How can we avoid it changing to capitals?

[2017-02-07 20:06] msilva commented on #105
Found the answer to my question here: https://github.com/Skyscanner/SkyFloatingLabelTextField/issues?utf8=%E2%9C%93&q=is%3Aissue%20titleFormatter%20

Doing something like this defaults the text without capitalization:
floatingTextLabel.titleFormatter = { (text:String) -> String in
        return text
      }

[2017-02-07 20:06] #105 closed

[2017-02-09 09:33] ImranIB opened #106 "Align placeholder text with icon"
Hello! Any one can have an idea how to align placeholder text with icon. Check the screenshot as well.
![simulator screen shot 09-feb-2017 2 31 31 pm](https://cloud.githubusercontent.com/assets/10369328/22777333/b08db114-eed4-11e6-97d4-46578d9ba4e6.png)

[2017-02-11 20:37] yatanadam commented on #88
@bogren @PiyushSanepara me too.

[2017-02-12 18:26] iosappshub opened #107 "Swift 3.0 Issue"
While installing the framework via Pods, I am getting the swift version error as attached.
Kindly provide help.

I am using XCode 8.0: pod 'SkyFloatingLabelTextField', '~> 2.0.0'
![screen shot 2017-02-12 at 11 51 37 pm](https://cloud.githubusercontent.com/assets/1165864/22864850/d278e0b2-f17e-11e6-8839-4458d020e192.png)

[2017-02-13 13:31] k0nserv commented on #107
Is this the only pod you are using? See https://github.com/CocoaPods/CocoaPods/issues/6240 about issues that can arise when different libraries try to use different versions of Swift.

[2017-02-13 13:32] k0nserv commented on #106
There isn't currently any first party support for this, but we are open to PRs contributing it.

[2017-02-13 18:46] iosappshub commented on #107
@k0nserv I figure out that it required to update the cocoapods. I updated cocoapods and everything worked fine. Thanks for your help.

[2017-02-13 18:46] #107 closed

[2017-02-13 19:17] k0nserv commented on #107
Glad it worked out! Best of luck with your app :)

[2017-02-16 19:11] Seroja1010 opened #108 "How to use in swift3.0"
When I am install it using cocoapods, swift version is 2.3.
Can you fix it out?

[2017-02-16 19:41] bogren commented on #108
Hey :) I need more info to be able to help. Are you using any other pods? What version of cocoapods are you running? Try running `pod repo update` before install.

[2017-02-19 11:47] bogren commented on #106
Hey, I played around with `SkyFloatingLabelTextFieldWithIcon` you can set the variable `iconMarginBottom` to position the icon. Here is the code [SkyFloatingLabelTextFieldWithIcon#L65-L71](https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/Sources/SkyFloatingLabelTextFieldWithIcon.swift#L65-L71)

[2017-02-19 11:51] bogren commented on #89
As you mentioned, you can use `iconMarginBottom` to adjust the icon. In addition, I think you can override [textHeight()](https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/Sources/SkyFloatingLabelTextField.swift#L532-L538) to get the behaviour you want.

[2017-02-19 11:53] bogren commented on #88
I need more info the be able to help :(

[2017-02-20 09:13] ImranIB commented on #106
iconMarginBottom set icon position from the bottom as u see in above image, but how I can I align label with icon?

[2017-02-20 10:23] bogren commented on #106
I think you have to do it manually atm. `SkyFloatingLabelTextFieldWithIcon` sets the frame based on the variable. I think aligning the icon and label make sense, I can see what I can do. Please submit a PR if you find a solution :)

[2017-02-21 07:21] ibhavin opened #109 "Text is not set to right while select arabic language from app"
I have implemented localization Internally(To change language inside app) in app by using this github repo : [ios_language_manager](https://github.com/maximbilan/ios_language_manager#method-2)

While changing language from app (Not iPhone language) from English to Arabic it is not changing UITextFiled's placeholder text and value to RTL. But if I change the iPhone language to Arabic then it works

[2017-02-21 09:09] bogren commented on #109
As far as I understand [ios_language_manager](https://github.com/maximbilan/ios_language_manager#method-2) swaps out the bundle files but doesn't set the properties of the language `LTR = true`. I found this property of `UIView` [semanticcontentattribute](https://developer.apple.com/reference/uikit/uiview/1622461-semanticcontentattribute). Either you make a pull request the ios_language_manager to

[2017-02-21 09:56] ibhavin commented on #109
@bogren  I have put  `UIView.appearance().semanticContentAttribute = .forceRightToLeft` when I change to arabic from english but issue is not solved.

[2017-02-21 10:03] bogren commented on #109
Ah okay. I'm looking at some of the previous issues we have reported, I'll try to read up on what is not working with LTR for SkyFloatingLabelTextField. If you find a solution to fix please submit a PR :)

[2017-02-22 01:01] miradesne opened #110 "SetTitleVisible ignores completion flag from UIView function"
In the code setTitleVisible(animated:):
[code]

The function just ignored the flag from:

[code]

and calls the completion call regardless if the animation is cancelled. It caused a bug where we want to only set some thing if the animation is completed (instead of cancelled).

[2017-02-24 15:02] k0nserv commented on #110
That seems wrong yes. Is this behaviour documented anywhere ie only calling the completion block when the animation does complete?

[2017-02-24 15:06] k0nserv commented on #110
I think we should still be calling the completion, but passing along the `completed` value in the event of a canceled animation. @bogren thoughts?

[2017-02-24 16:21] LukA888 commented on #89
Ok! Thanks, I'll try it ^^

[2017-02-25 13:30] dexcell opened #111 "Unknown class SkyFloatingLabelTextField in Interface Builder file"
Hi, i've got problem using carthage in objective c project.

I can't change UITextField custom class to SkyFloatingLabelTextField using Interface builder.
Somehow IB cannot detect `SkyFloatingLabelTextField`.

If i run the project, the UITextField stays the same, and console will say `Unknown class SkyFloatingLabelTextField in Interface Builder file`

There is no problem creating using code though

[2017-02-27 15:48] miradesne commented on #110
@k0nserv Yes it should still call the completion closure, but should pass the flag over so that we know how to update UI when we cancel the animation... Thanks!

[2017-02-27 15:49] k0nserv commented on #110
Cool, I have an in progress implementation of that. I'll finish it up tonight and release a new version.

[2017-02-27 16:07] k0nserv commented on #111
Hi 👋

A few question to pinpoint the issue

+ How did you install `SkyFloatingLabelTextField`?
+ If you're using CocoaPods did you open `<Project>.xcworkspace`?

[2017-03-03 17:32] dexcell commented on #111
Hi,

- Installed it using carthage -> add `github/SkyFloatingLabelTextField` to `Cartfile` and do  `carthage update SkyFloatingLabelTextField`
- If using cocoapod, everything is working properly, Interface builder can detect class SkyFloatingLabelTextField.
- Module and class not detected in interface builder when using carthage framework.

[2017-03-03 18:20] dexcell commented on #108
I found out that you need to explicitly set SWIFT_VERSION to 3.0 in your project build settings, if you are using objective c project.

or you can add these script on your cocoapod file, then xcode wont ask you to convert the code.
[code]

[2017-03-05 00:11] hellohelloye commented on #88
I met the same problem, it crashed in session.dataTask function. I added the privacy key words but somehow it did not work. the error message you quoted is actually just a warning message not the cause of the crash. The actual cause of the crash is a EXC_BAD_ACCESS due to an improper conversion between Error and NSError because of the transaction of swift version to 3.0

[2017-03-07 02:04] eggnima opened #113 "UIAppearance Customization"
Would it be possible to allow for the designables to be customized via the UIAppearance proxy?

[2017-03-07 10:56] k0nserv commented on #113
That's a good idea for sure! I'll have a look at it at some point, but we're open to anyone contributing it as a PR.

[2017-03-07 10:57] k0nserv commented on #111
Hmm. I'm unfortunately not at all familiar with Carthage, but I'll try and have a look at this. @bogren are you more familiar maybe?

[2017-03-07 10:58] #110 closed

[2017-03-07 10:59] k0nserv commented on #108
You can also put the swift version in `.swift-version` in the root of your repo and CocoaPods will pick it up.

[2017-03-07 10:59] #108 closed

[2017-03-07 11:25] k0nserv commented on #110
This has been released as 3.0.0

[2017-03-14 23:45] rendion opened #114 "autocapitalization does not appear to work"
I dont see anything in your code that should mess up autocapitilization, but its not working with these text fields.

[2017-03-15 03:43] rendion commented on #114
Apparently I had auto capitalization disabled on the device....closed

[2017-03-15 03:43] #114 closed

[2017-03-28 17:32] TheSwifter opened #117 "XCode 8.3 Warnings"
I just installed the v3.0.0 of SkyFloatingLabelTextField.

But, I get this warning :
/Pods/SkyFloatingLabelTextField/Sources/SkyFloatingLabelTextFieldWithIcon.swift:77:103: 'M_PI' is deprecated: Please use 'Double.pi' or '.pi' to get the value of correct type and avoid casting.

I tried to clean and disintegrate pod and reinstall it, but, it does not work.

I don't want to unlock pod source files

[2017-03-29 13:53] k0nserv commented on #117
Hi,

Yup `M_PI` is deprecated in 8.3. This was fixed in https://github.com/Skyscanner/SkyFloatingLabelTextField/pull/116 by @z3bi, but I haven't released a new verison with this change yet. However you should still be able to build as this is only a warning, you can silence all warnings from all pods with

[code]

in your `Podfile` or you can silence only warnings from `SkyFloatingLabelTextField`

[2017-03-29 13:53] #117 closed

[2017-03-30 13:20] k0nserv commented on #111
This works for me. See the attached zip.

I had to do a few things to make this work.

1. Add the copy files steps as described [here](https://github.com/Carthage/Carthage/issues/616)
2. Make sure the swift standard library embded as described [here](https://stackoverflow.com/questions/26024100/dyld-library-not-loaded-rpath-libswiftcore-dylib)
3. Use module SkyFloatingLabelTextField and class SkyF

[2017-04-01 18:07] kmuddapu opened #119 "Need this for TextView"
Thanks for a great library.
It Works great for TextField. I need this for TextView.Can anyone please help me !!!

Thank You

[2017-04-02 20:09] Deub27 commented on #41
You can add the IBInspectable attribute to any property in a class declaration, class extension, or category of type: boolean, integer or floating point number, string, localized string, rectangle, point, size, color, range, and nil.

UIFont seems to be not eligible to @IBInspectable

[2017-04-03 09:12] k0nserv commented on #119
Hey @kmuddapu,

unfortuantely it's unlikely that we'll ever support `UITextView`.

[2017-04-03 09:12] #119 closed

[2017-04-05 05:36] maasim94 opened #120 "Setting 'isLTRLanguage' manually"
I want to set 'isLTRLanguage' for only one text filed but i'm not able to access 'isLTRLanguage'.
it says
'isLTRLanguage' is inaccessible due to 'internal' protection level

[2017-04-05 08:38] k0nserv commented on #120
Hey @maasim94 you're right that variable has not been opened up. I will do that now :)

[2017-04-05 08:39] maasim94 commented on #120
will I need to copy resource files to make changes or pod version will updated?

[2017-04-05 08:40] k0nserv commented on #120
I'll release a new pod version

[2017-04-05 08:40] maasim94 commented on #120
Thanks a lot

[2017-04-05 15:12] #120 closed

[2017-04-05 15:17] k0nserv commented on #113
There's an open pr for this now #118

[2017-04-05 15:18] k0nserv commented on #109
I think this might relate to the fact that we explicitly set alignment rather than using natural alignment

[2017-04-06 07:31] ezar opened #122 "Can I override titleFormatter?"
Hi,
I don't want to use uppercase. Can we change it? How?
Regards,

[2017-04-06 10:05] k0nserv commented on #122
Hi @ezar! You sure can just do

[code]

or if the source title is uppercase

[code]

[2017-04-06 10:42] #122 closed

[2017-04-06 11:10] jmamegroot commented on #122
Can you change the font of the titleFormatter?

[2017-04-06 14:13] fishfisher opened #123 "M_PI compiler warning still on 3.0.0"
FYI: The latest releasse 3.0.0 still warns about M_PI on line 77 SkyFloatingLabelTextFieldWithIcon. Updated with CocoaPods. I tried to download the latest release via zip as well and it still uses M_PI.
No biggie, just thought you should know:)

Keep up the great work!

Erik

[2017-04-06 14:30] bogren commented on #123
The M_PI is available on the `master` branch and will be included in the next version 🙂

[2017-04-06 14:31] fishfisher commented on #123
Aa, I see! Perfect, thanks😊👍
tor. 6. apr. 2017 kl. 16.30 skrev Emil Bogren <notifications@github.com>:

[2017-04-06 14:34] #123 closed

[2017-04-06 16:00] k0nserv commented on #123
I'll release a new version soon. Just waiting for #118 to be merge first.

[2017-04-10 12:27] Mehrdadmaskull commented on #109
I'm having the same issue too. With or without setting the alignment.

[2017-04-11 09:43] Maryom opened #124 "isSecureTextEntry warning"
Hi,

Thanks for your awesome repo. 👌🏼

Although I set `isSecureTextEntry` as you can see in the screenshot below:

<img width="261" alt="screen shot 2017-04-11 at 12 42 02 pm" src="https://cloud.githubusercontent.com/assets/3218401/24902913/6484da76-1eb4-11e7-8ce1-c7c967bfc149.png">

I got this warning:

`IB Designables: Ignoring user defined runtime attribute for key path "KeyboardType" on instan

[2017-04-12 06:49] Maryom commented on #124
When I shutdown and open my MacBook again all warning disappeared :)

[2017-04-12 06:50] #124 closed

[2017-04-14 09:00] k0nserv commented on #113
Fixed in #118

[2017-04-14 09:00] #113 closed

[2017-04-14 09:00] k0nserv commented on #109
Thanks for the PR @Mehrdadmaskull, can you retest against master?

[2017-04-14 09:01] k0nserv commented on #100
Closing due to inactivity. Feel free to reopen

[2017-04-14 09:01] #100 closed

[2017-04-17 19:23] ugenlik opened #128 "Making uppercase optional"
I think placeholders and error messages shouldn't be uppercase by default.

[code]

this should be removed or must be optional

[2017-04-18 11:56] k0nserv commented on #128
It's already optional as you can override the `titleFormatter` to return whatever casing you want

[code]

[2017-04-18 14:40] ugenlik commented on #128
Thanks

[2017-04-18 14:40] #128 closed

[2017-04-19 08:37] k0nserv commented on #80
This should be fixed in 3.1.0

[2017-04-19 08:37] #80 closed

[2017-04-19 09:18] k0nserv commented on #109
The PR from @Mehrdadmaskull is merged and was released as part of 3.1.0. Please try this version

[2017-04-19 09:20] k0nserv commented on #99
As @moogle19 identified the fix in #101 broke animations so I reverted it. I'll take a stab at fixing this

[2017-04-19 09:47] skerkewitz commented on #99
Hmm, I never notice that it breaks the animation. But it took another look and you are right.

Would be nice to find a solution that solve both animation problems.

[2017-04-20 14:26] craigotis commented on #111
I'm seeing the same issue as described by @dexcell

[2017-04-20 14:27] k0nserv commented on #111
Does the project from the attached zip work for you?

[2017-04-23 09:43] #109 closed

[2017-04-24 15:14] Iniyarajan opened #130 "SkyFloatingLabelTextField consecutive declarations on a line must be separated by ';'"
Hi,
    Consecutive and declaration error , not able to fix the issues.Kindly update the version for swift 3.1

Thanks,
iniyarajan

[2017-04-24 16:03] k0nserv commented on #130
Hey @Iniyarajan, what version of SkyFloatingLabelTextField are you using? It shoud be compatible with 3.1 already. What line is the above error on?

[2017-04-25 12:45] aviramshakiv opened #131 "titleLabel Font"
how could i change the floating label font to my custom font

[2017-04-26 08:49] Iniyarajan opened #132 "Throws error while used in Interfacebuilder"
Unknown class _TtC33SkyFloatingLabelTextFieldWithIcon33SkyFloatingLabelTextFieldWithIcon in Interface Builder file.

[2017-04-26 09:11] k0nserv commented on #132
Hey,

To better understand what's going wrong I need to know how are you integrarting SkyFloatingLabelTextField in your project?

[2017-04-26 09:15] k0nserv commented on #131
[code]

See this SO answer for instructions around how to add custom fonts to your app. https://stackoverflow.com/questions/24708401/how-do-you-stylize-a-font-in-swift

[2017-04-26 09:16] #131 closed

[2017-04-26 09:27] Iniyarajan commented on #132
Initially I added by cocoa pods, On doing it not detect the headers
So I downloaded the source file and added inside the project folder.
Now it works for SkyFloatingLabelTextField, and it crashes while using  SkyFloatingLabelTextFieldWithIcon.
May I know , what is correct flow of using this class ?
What I'm doing wrong ?
Thanks,
Iniyarajan
![screen shot 2017-04-26 at 2 55 28 pm](https://cloud.gith

[2017-04-26 09:35] k0nserv commented on #132
When you used CocoaPods did you remember to open `<Project>.xcworkspace` after running `pod install` instead of opening `<Project>.xcproject`? I'd recommend you stick with CocoaPods it'll be simpler for you in the long run.

I see in your screenshot that you now have both pods and the source files integrated which could create problems in itsel. What's the full error when it crashes?

[2017-04-26 09:40] Iniyarajan commented on #132
Yes, I used the xcworkspace, But It shows error as below screenshot.
![screen shot 2017-04-26 at 3 09 48 pm](https://cloud.githubusercontent.com/assets/19946775/25428112/7485d878-2a92-11e7-87a7-6389dc78e39c.png)

[2017-04-26 09:42] k0nserv commented on #132
I don't see an import statement for SkyFloatingLabelTextField in there. If you add

[code]

Does that solve it?

[2017-04-26 09:45] Iniyarajan commented on #132
Now, I added and the error as below,
![screen shot 2017-04-26 at 3 14 50 pm](https://cloud.githubusercontent.com/assets/19946775/25428340/2fd8cb76-2a93-11e7-8c16-8df3a8c727a5.png)
![screen shot 2017-04-26 at 3 14 08 pm](https://cloud.githubusercontent.com/assets/19946775/25428347/3361f678-2a93-11e7-952d-4e0529360c31.png)

[2017-04-26 09:56] k0nserv commented on #132
Are you sure you've connected the outlet correctly that looks like the value is `nil`. I'd put a breakpoint and verify that the value gets set correctly

[2017-04-26 09:59] Iniyarajan commented on #132
Yes, i checked all the outlets are connected correctly.

[2017-04-26 10:08] k0nserv commented on #132
There are a bunch of other things that could be wrong. Did you specify the module when setting the class in IB?

I made a small example project that integrates SkyFloatingLabelTextField using CocoaPods and then connects a SkyFloatingLabelTextFieldWithIcon via IB like you are.
[TestIssue132.zip](https://github.com/Skyscanner/SkyFloatingLabelTextField/files/957978/TestIssue132.zip)

[2017-04-27 09:23] ImranIB opened #133 "Add custom icon"
How to add custom icon in uitext field? Any help. I am currently using font awesome library to add icon but now I want to add icon from assets folder.

emailTextField.iconFont = UIFont(name: "FontAwesome", size: 15)
emailTextField.iconText = "\u{f0e0}"

[2017-04-27 15:48] ugenlik commented on #106
I have used `iconMarginBottom` for now but it would be nice to autoalign this.

[2017-04-29 10:11] iOSUser110 opened #134 "Storyboard IBDesignables not working for the latest release"
Storyboard IBDesignables not working for the latest release , (not showing IBDesignables and module selection)
But working with old version 3.0.0

[2017-04-29 22:56] ImranIB opened #135 "title label upper case only first word"
In text field title it shows capitalized string. Can it be possible to upper case only first word of string like Email?

[2017-05-09 08:16] Maryom commented on #109
Hey,

Thanks for this helpful issue. I have a problem: in Main.strings (Arabic) I wrote:
`"YGo-es-Lf5.placeholder" = "كلمة المرور";`

But as you can see in the image below the field didn't change! how can I change it?

Thanks.

<img width="225" alt="screen shot 2017-05-09 at 11 13 25 am" src="https://cloud.githubusercontent.com/assets/3218401/25841444/d421c9fc-34a8-11e7-8081-40694fd24701.png">

[2017-05-10 13:24] ImranIB commented on #135
Resolved the issue by using textField.titleFormatter = { $0 }

[2017-05-10 13:24] #135 closed

[2017-05-11 09:14] Maryom opened #136 "Localization"
Hey,

Thanks for your awesome repo. I need to localize the fields to Arabic language, as you can see in the attached image, the fields turned to the right perfectly. However, the placeholders didn't change although I wrote: `"YGo-es-Lf5.placeholder" = "كلمة المرور";` in Main.strings(Arabic) file.

<img width="230" alt="screen shot 2017-05-11 at 12 08 23 pm" src="https://cloud.githubusercontent.com

[2017-05-11 12:48] pichirichi commented on #136
I don't see such problem on my App in RTL languages.
Do you have a sample code that reproduce this problem?

[2017-05-11 14:00] Maryom commented on #136
Thanks for your reply, I set placeholder values in storyboard, Do you think that I have to set them programmatically ?

[2017-05-14 05:55] pichirichi commented on #136
I don't think it will make a different. Can you provide a sample code?

[2017-05-14 06:54] Maryom commented on #136
Hey,

I set all the attributes in storyboard as you can see in the below image:

<img width="257" alt="screen shot 2017-05-14 at 9 52 05 am" src="https://cloud.githubusercontent.com/assets/3218401/26031852/0fb63f58-388b-11e7-8abe-e0b3710e3f72.png">

Then, I connected it: `@IBOutlet weak var loginEmailInputView: SkyFloatingLabelTextField!`

After that I wrote: `"BcR-hT-edQ.placeholder" = "يرجى إدخا

[2017-05-15 06:21] Matic1993 opened #138 "Adding validation"
Hello!

I would like to enhance the project.

I have a suggestion - what if we add a validation?

We can have several default validations:

- only numbers
- check if valid email
- ...

And then we can have a custom validation in which the user can add his own regex as a parameter to function.

What do you guys think about idea?

Any suggestions/ideas are more than welcome.

[2017-05-15 06:51] pichirichi commented on #138
This is a great idea, I'm sure most of those who implemented SkyFloatingLabelTextField are already running few validations on their code.
I think that the regex approached is also a good idea.
there are few projects for more complex validations such as credit-card or phone numbers where simple regex won't be enough but for the simpler cases it will work.

[2017-05-15 06:59] Matic1993 commented on #138
That is what I do now. I have validation code in my project.

But when you use SkyFloatingLabelTextField in many View Controllers you have to make some sort of manager that will have validation logic or you must implement validation logic in any View Controller.

So I was thinking why not put that logic in SkyFloatingLabelTextField. Then the validation will be like one liner in your code.

[2017-05-15 12:46] kalmurzayev opened #139 "Leaving titleLabel as-is during edit"
Hi!
I was wondering, what's the best way to disable turning titleLabel to uppercase when user starts typing?
You have titleFormatter, so I tried inheriting your class and overriding titleFormatter:
[code]

But that gives a `Cannot override with a stored property` error

[2017-05-15 18:05] ChrisGriffiths commented on #139
@kalmurzayev you can set the closure to a different value like below, as titleFormatter is stored as a var

[code]

[2017-05-16 05:21] kalmurzayev commented on #139
@ChrisGriffiths Oh so you just change the value of titleFormatter property. Thanks, man.

[2017-05-16 05:21] #139 closed

[2017-05-17 12:00] kmuddapu commented on #134
This is what happened when I run the latest example .

<img width="697" alt="screen shot 2017-05-17 at 7 59 00 am" src="https://cloud.githubusercontent.com/assets/2403156/26152837/be81de96-3ad6-11e7-9049-f43d88e82d34.png">

[2017-05-17 13:18] chlebta commented on #128
On 3.1.0 the placeholder is always uppercased ?
is it possible to disable that from storyboard

[2017-05-19 11:55] kmuddapu commented on #134
Im also facing same problem. Below are IBDesignables errors in Example App .

<img width="697" alt="screen shot 2017-05-17 at 7 59 00 am" src="https://cloud.githubusercontent.com/assets/2403156/26246696/6aacc61c-3c68-11e7-9850-1c74eb715caf.png">

[2017-05-19 12:03] kmuddapu opened #142 "Adding Error Message Under the line"
Is there any possibility to display the error message under textfield line ?

[2017-05-19 15:20] adrianodiasx93 opened #143 "Failed to install it via Carthage after release 3.1.0"
I can no longer install it via Carthage (version: 0.22.0) after the last release. When I try:

I get:

Deployment Targert: 9.0; Xcode 8.3.2

Version 3.0.0 installation still works fine. Thanks for attention.

[2017-05-22 02:50] k0nserv commented on #109
@bogren care to comment. I don't exactly remember the details of iOS localization anymore. Make sure the id matches the id of the textfield is all I can think of

[2017-05-22 03:49] k0nserv commented on #138
Yeah this is definitely something that could be worth considering. We need to keep ability to use `UITextFieldDelegate` directly in combintation with validations however.

Something like this with a few built in and the ability to add new ones yourself maybe?
[code]

[2017-05-22 03:50] k0nserv commented on #128
No it's not currently possibiliy directly via storyboard. You can create a custom subclass that overwrites `titleFormatter` and use that in Storyboard however

[2017-05-22 03:52] k0nserv commented on #134
What method of integration are you using?

[2017-05-22 03:53] k0nserv commented on #142
Not directly, but it can be achieved with a subclass

[2017-05-22 10:06] bogren commented on #133
Hey, did you get it to work? Make sure you successfully import `FontAwesome` in your project.

[2017-05-22 10:14] ImranIB commented on #133
Thanks for the response.

[2017-05-22 10:14] #133 closed

[2017-05-22 10:17] bogren commented on #136
When is `"BcR-hT-edQ.placeholder" = "يرجى إدخال بريدك الإلكتروني.";` set´You have placeholder set the Storyboard and then set it again in code? Remove the line in your screenshot.

[2017-05-22 10:18] bogren commented on #143
Hey, are you still experiencing issues installing `SkyFloatingLabelTextField`?

[2017-05-22 10:20] bogren commented on #89
Hey! Following up here, did you manage to solve the issue?

[2017-05-23 07:27] Maryom commented on #136
@bogren Thanks for your reply.
You have placeholder set the Storyboard and then set it again in code?
I just set it in Storyboard for English language. Then I wrote this 👇🏼 line in Main.strings(Arabic) file to localize it:
`"BcR-hT-edQ.placeholder" = "يرجى إدخال بريدك الإلكتروني.";`
Still it doesn't work :( Any help?

[2017-05-23 07:49] bogren commented on #136
Ah now I understand your setup and your problem. Can you provide sample code?

[2017-05-23 07:53] Maryom commented on #136
@bogren I set all the attributes in storyboard.
Then, I connected it: @IBOutlet weak var loginEmailInputView: SkyFloatingLabelTextField!

After that I wrote: "BcR-hT-edQ.placeholder" = "يرجى إدخال بريدك الإلكتروني."; in Main.strings(Arabic) file.

[2017-05-23 08:18] bogren commented on #136
Does it work for other languages? Is other labels and test translated? If you create a sample project with the same setup I can take a look at the code.

[2017-05-23 08:26] Maryom commented on #136
Does it work for other languages?
I just need Arabic and English.

Is other labels and test translated?
Yes all localization work perfectly, except SkyFloatingLabelTextField :(

[2017-05-23 09:28] bogren commented on #136
hmm.. 🤔  I'll try to setup a demo project.

[2017-05-23 09:41] k0nserv commented on #143
I'll have a look at this soon, but if you can upload a reproducible case that'd be helpful

[2017-05-23 09:42] Maryom commented on #136
@bogren Thank you so much 🙏🏼

[2017-05-23 09:48] neoneye opened #144 "IconTextField.updateColors() infinite loop"
I just downloaded SkyFloatingLabelTextField. It's pretty nice.

In the Example project I tapped the `Custom layout by subclassing` button and it crashed. I would expect it to push a child view controller, but nothing happened.
![screenshot of simulator](https://i.imgur.com/dMnP6lD.png)

In Xcode it appears to be because of an infinite loop
![screenshot of xcode](http://i.imgur.com/ieoPNtF.jpg)

Xc

[2017-05-23 11:00] k0nserv commented on #144
Thanks for raising that doesn't seem corret at all. I wonder how it ever worked 🤔

[2017-05-23 11:26] kmuddapu commented on #134
I just downloaded the library and run the example .

[2017-05-23 14:17] #144 closed

[2017-05-24 02:00] k0nserv commented on #134
Can I see your podfile?

[2017-05-24 03:52] k0nserv commented on #143
I can't reproduce this albeit in Xcode 8.2.1.

[2017-05-24 03:53] #142 closed

[2017-05-24 03:55] k0nserv commented on #132
@Iniyarajan did you resolve this?

[2017-05-24 03:56] k0nserv commented on #111
@craigotis did you get it working?

[2017-05-24 05:13] craigotis commented on #111
Hi @k0nserv, thanks for checking back, but unfortunately I moved to a different framework/implementation for this sort of thing! Hope this is/gets resolved for you guys!

[2017-05-24 05:20] k0nserv commented on #111
Okay :) Best of luck 👍

[2017-05-24 05:20] #111 closed

[2017-05-25 11:18] kmuddapu commented on #134
Sure,
<img width="636" alt="screen shot 2017-05-25 at 7 17 46 am" src="https://cloud.githubusercontent.com/assets/2403156/26448247/4c2e41b4-411a-11e7-8ab9-f8e5dee6fd87.png">

[2017-05-31 10:25] Bathibabu opened #146 "How to add custom image instead of unicode?"
I am trying to add custom image how can i add?

[2017-05-31 11:03] k0nserv commented on #146
No not out of the box. You can achieve it via subclassing though. Have a look at https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/SkyFloatingLabelTextField/SkyFloatingLabelTextFieldExample/Example4/IconTextField.swift and adapt it to use a `UIImageView` instead of a `UILabel` for the icon

[2017-06-09 08:18] #146 closed

[2017-06-12 16:25] kidsid-Ixigo opened #147 "Clear button is gets overlapped with text?"
When clearButtonMode is set to .whileEditing, The text gets overlapped with text.
In my opinion, the culprit is this overridden method. It doesn't consider the clearButtonMode while returning the CGRect. The width should be less while clearButtonMode is .whileEditing.

[code]

[2017-06-13 12:54] k0nserv commented on #147
You are very correct :) Thanks for reporting that, I'll get it fixed

[2017-06-16 02:56] ngthduy90 commented on #134
I have the same problem of @kmuddapu.

[2017-06-16 17:00] vsanjay opened #149 "Validation is not working properly."
I said  textField.characters.count > 3 { error = "Wrong" } but instead it is showing error only when character count >4.

Is this bug resolved?

[2017-06-19 23:44] bradlgray01 opened #150 "Shared is unavailable: use view controller based solutions where appropriate instead."
![screen shot 2017-06-19 at 4 43 28 pm](https://user-images.githubusercontent.com/25492021/27310355-7d07c172-550e-11e7-8c9e-ff8987b165ce.png)

This error is occurring for me. Any suggestions?

[2017-06-20 07:58] bogren commented on #150
Swift version?

[2017-06-20 18:24] bradlgray01 commented on #150
yes

From: Emil Bogren <notifications@github.com>
Reply-To: Skyscanner/SkyFloatingLabelTextField <reply@reply.github.com>
Date: Tuesday, June 20, 2017 at 12:58 AM
To: Skyscanner/SkyFloatingLabelTextField <SkyFloatingLabelTextField@noreply.github.com>
Cc: Brad Gray <Brad.Gray@hudsonandmarshall.com>, Author <author@noreply.github.com>
Subject: Re: [Skyscanner/SkyFloatingLabelTextField] Shared is una

[2017-06-21 11:34] k0nserv commented on #150
Hey :) What's your version of swift, deployment target and xcode version?

[2017-06-21 11:35] k0nserv commented on #149
No it's not been resolved yet. More details here https://github.com/Skyscanner/SkyFloatingLabelTextField/issues/73

We welcome any PRs fixing it

[2017-06-21 11:35] #149 closed

[2017-06-21 11:36] k0nserv commented on #136
@Maryom How are you getting on?

[2017-06-21 11:50] k0nserv commented on #143
@adrianodiasx93 Did you make this work?

[2017-06-21 11:57] k0nserv commented on #134
[TestIssue134.zip](https://github.com/Skyscanner/SkyFloatingLabelTextField/files/1091382/TestIssue134.zip)

Works for me..

What version of Xcode are you using? What's your base SDK and deployment target?

[2017-06-21 13:28] Maryom commented on #136
@k0nserv Thanks. I got busy with other projects and I didn't check it again. but all the needed information are provided above, what extra information you need?

[2017-06-21 13:29] k0nserv commented on #136
Can you reproduce it in a small example project?

[2017-06-21 14:04] Maryom commented on #136
I will try ASAP. Thank you.

[2017-06-21 14:26] bradlgray01 commented on #150
I'm using swift 3, deployment 10.2.

[2017-06-21 14:27] k0nserv commented on #150
and Xcode?

[2017-06-21 14:37] bradlgray01 commented on #150
xcode 8.3.3. And I think I'm actually using Swift 3.1 as that is what is needed on Xcode 8.3.3

[2017-06-21 14:38] k0nserv commented on #150
Does this help https://stackoverflow.com/questions/34225213/uiapplication-sharedapplication-not-available?

[2017-06-21 14:41] bradlgray01 commented on #150
Unfortunately no. I just check, and my my Only App Extension is set to no.

[2017-06-21 14:43] k0nserv commented on #150
and this is a regular iOS app not an extension or module?

[2017-06-21 14:43] bradlgray01 commented on #150
yep

[2017-06-21 14:44] k0nserv commented on #150
@bradlgray01 can you reproduce this with a blank project? I'm on 8.2.1. I'll update and report back. @bogren which version are you on?

[2017-06-21 14:53] bradlgray01 commented on #150
Hmm... It works on a fresh project. So strange. I guess it's my end that something is gone awry. It's fine I'll, I'll do some more research to see whats going on in my end.

[2017-06-21 14:59] k0nserv commented on #150
Okay :) Please let me know if you figure it out :)

[2017-06-21 15:01] bradlgray01 commented on #150
Will do, and thanks for your help, much appreciated .

[2017-06-22 14:01] timqzm opened #152 "Field size changes automatically"
I've made some work and commit changes, everything was nice. Now when I open storyboard file, SkyFloatingLabelTextField fields quickly resize.
![screen shot 2017-06-22 at 16 38 13](https://user-images.githubusercontent.com/13407092/27437613-79b8273c-576b-11e7-9f94-85f07d719988.png)
All constraints have right values, but look wrong.
![screen shot 2017-06-22 at 16 41 37](https://user-images.githubus

[2017-06-23 12:33] prakashraman opened #153 "Unable to access titleFormatter"
I don't seem to have the property

textField.titleFormatter

Is it under a different version. I have installed

pod 'SkyFloatingLabelTextField', '~> 3.0'

Thanks!

[2017-06-23 12:36] prakashraman commented on #153
Sorry, my bad. It is working fine.

Please delete this issue.

[2017-06-23 12:36] #153 closed

[2017-06-24 09:05] kushaseum opened #154 "Set Title when User Start Editing"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2017-06-26 07:58] k0nserv commented on #154
Hi @kushaseum this looks like a question rather than a bug report/feature request. If it is one of those please fill out the template otherwise ask on Stackoverflow

[2017-06-26 07:58] #154 closed

[2017-06-27 08:05] k0nserv commented on #152
I suspect this is not an issue with SkyFloatingLabelTextField, but your constraints causing this behaviour. There's very little code that deals with the outer bounding box of the field in SkyFloatingLabelTextField

[2017-06-27 08:37] #152 closed

[2017-06-27 20:40] davros1970 commented on #57
I went in to all the CGRect() ctor's and subtracted 6 from the y. Seems to make everything visually align then with the clear button. Total hack, but did the trick.

[2017-07-03 17:10] Frankenstein666 commented on #73
I Have a Problem as well with validation. In my case i have put a validation in one of my skyFloatingLabelTextfield so that the entered text must be at least 5 character long. The Validation is Working fine as expected for the first time , but However, if i delete a character it is still showing the field as correct one. i'd like to immediately show error on this field as soon as the character is

[2017-07-04 08:46] #147 closed

[2017-07-04 10:06] hemangshah opened #155 "Use of undeclared identifer"
# Report

## What did you do?

I just imported the source code files in my project.

## What did you expect to happen?

I should able to use the SkyFloatingLabelTextField.

## What happened instead?

Giving me an error. **Use of undeclared identifier**.

## Environment

Xcode 9.1 and iOS 9.0

Xcode Version:
SkyFloatingLabelTextField Version: latest
Deployment Target: 9.0
Base SDK: 9.0
Method of In

[2017-07-04 12:43] #155 closed

[2017-07-04 16:35] k0nserv commented on #155
Hey @hemangshah did you solve this issue?

[2017-07-05 05:48] hemangshah commented on #155
@k0nserv, Yes, I have solved this issue.

https://stackoverflow.com/questions/44904556/use-of-undeclared-identifier-in-xcode-9-0/44905219?noredirect=1#comment76788221_44905219

I was creating a folder name 'SkyFloatingLabelTextField' and then putting all the source inside it. I changed the folder name and it worked for me.

[2017-07-07 15:26] k0nserv commented on #155
Glad it worked all though I recommend you use CocoaPods for integration instead of doing it manually

[2017-07-21 06:31] Babelfisch opened #158 "Build fails in Xcode 9 beta 3"
It's not possible to build the project on Xcode beta 3:

![screenshot 2017-07-21 08 26 56](https://user-images.githubusercontent.com/1218405/28451619-8f3649c4-6dee-11e7-984a-8ae208ee6803.png)

Changing the Swift Language Settings to 3.2 has no effect.

[2017-07-21 14:46] Babelfisch commented on #158
The error only occurs if I install SkyFloatingLabelTextField als Cocoa Pod. The test project from GitHub itself works fine in Xcode 9 beta 3.

[2017-07-21 17:30] PedroAnibarro1 commented on #146
I did a PR to support images. Just set the icon type to image and set the image.

PR: #159

[2017-07-22 08:01] k0nserv commented on #158
This looks like Swift 4 changes right @bogren?

[2017-07-22 08:18] bogren commented on #158
Yes, building for 3.2 works fine in Xcode 9. I suggest we create a `swift-4`branch  🙂

[2017-08-01 08:27] shaharukhs opened #161 "textField title color not set to default color when move to other textField"
# Report

## What did you do?

I have some textfields with textfield class `SkyFloatingLabelTextField`
changed selected line color
changed selected text color
added placeholder text
added title text

but when I click any textfield and some text and move to other textfield title color won't change to default color and show selected title color only.
but in your project REDME.md example shows differ

[2017-08-03 12:38] k0nserv commented on #161
Yeah this looks like a bug to me. Thanks for the excellent report 👍

[2017-08-08 10:19] #150 closed

[2017-08-11 16:03] Babelfisch commented on #158
👍 for swift-4 branch

[2017-08-16 09:12] tquocit opened #162 "Got problem when install this"
http://take.ms/EZ3uZ
I take an picture. I got a problem when trying to install this pod...I research but can not solve problem

[2017-08-16 09:32] #162 closed

[2017-08-19 15:50] cph2117 commented on #134
@k0nserv Also not working for me. Xcode 8.3.3, most recent SkyFloatingLabelTextField via Carthage.

[2017-08-23 13:26] Mycose opened #163 "selectedLine and selectedTitle don't have the same behavior"
# Report

## What did you do?
[code]

## What did you expect to happen?

I expected that when the textField has focus the title and the line are blue and when the textfield hasn't the focus they are red

## What happened instead?

The title stay blue even after the textfield lost focus but the line goes back to red

## Environment

Xcode Version: 8.3
SkyFloatingLabelTextField Version: 3.2.0
Deploy

[2017-08-23 13:48] Mycose commented on #161
You can fix it by removing `|| isHighlighted` from `fileprivate func updateTitleColor()`

[2017-08-29 05:41] shaharukhs commented on #161
Its work after removing` || isHighlighted ` for now. Thank you.

[2017-08-29 09:23] Blacksheep92 opened #164 "Placeholder disappears after typing & removing"
# Report

The placeholder text disappears after typing & removing it.

## What did you do?

Tap the textfield, type some words, remove the complete entry.

## What did you expect to happen?

The placeholder should be visible.

## What happened instead?

The placeholder is not visible.

## Environment

Xcode Version: 8.3.3
SkyFloatingLabelTextField Version: 3.2.0
Deployment Target: 9.0
Base SDK: 10

[2017-08-31 08:07] phinguyenterralogic commented on #135
For Ojective-C:
textField.titleFormatter = ^(NSString* text){
        return text;
    };

[2017-08-31 08:56] k0nserv commented on #161
Happy to accept a PR if you already have a fix in mind

[2017-08-31 08:56] k0nserv commented on #163
Right closing as a dupe of #161 then

[2017-08-31 08:56] #163 closed

[2017-09-04 13:03] KrLx1994roller commented on #158
Then what do I have to do to be able to use it using CocoaPods?

[2017-09-04 15:14] KrLx1994roller commented on #164
This is also happening with password fields. When you delete just one character in a password field, iOS automatically deletes the entire password. It is then when the title disappears.

[2017-09-05 11:34] vCrespoP commented on #161
It would be really nice to include this, as if we modify the code but then update the dependencies, this bug would be back again.

Thanks!

[2017-09-16 20:48] nalexander50 commented on #158
Swift 4 user here. Can we get an ETA on the Swift 4 branch? Looked like there were a couple PRs that just haven't been merged yet. Having to unlock and edit the framework manually is making me feel dirty!

[2017-09-18 10:05] k0nserv commented on #158
Sorry if my understanding of this is incorrect, but shouldn't Xcode 9 be able to build both Swift 3 and Swift 4 libraries as part of the same target?

[2017-09-18 12:20] k0nserv commented on #158
This seems related to this issue in CocoaPods. https://github.com/CocoaPods/CocoaPods/issues/6791

I'm having a look at supporting both Swift 3.2 and Swift 4, but for now the workaround there should resolve the issue of Swift 4. Can you try it?

[2017-09-18 14:33] nalexander50 commented on #158
I didn't realize this was an on-going, open issue for the Cocoapods team. Looks like the post install hook should work well enough for now -- I will try it when I get home. It's not pretty but it's less ugly than unlocking and manually editing the framework. Hopefully Cocoapods can come up with an elegant solution to this problem for the future. Similarly, it would also be nice if I could get Xcod

[2017-09-18 14:41] k0nserv commented on #158
Yeah the approach I want to look at is something similar to `PromiseKit` using conditional code paths to support both Swift 3 and Swift 4. The time I can dedicate to SkyFloatingLabelTextField is a bit limited unfortunately, but I've started hacking on it

[2017-09-19 16:34] jlaws opened #168 "Swift 4 support?"
Any plans to update the library to Swift 4?

[2017-09-20 00:35] nalexander50 commented on #158
Looks like it's working just fine.

[2017-09-20 08:27] k0nserv commented on #168
See #158

[2017-09-20 08:27] #168 closed

[2017-09-21 18:31] nestorAppsolutely opened #169 "Changing Font in SelectedTitle and Making it not All Caps"
Hi,

I was wondering how to make the floating Label not All Caps. Just as Is. and Also to change its Font to a custom font (PT Sans). I tried to modify the titleFormatter so that it doesn't return a uppercased text, which is the default, but it didn't work.. I also set the titleFont to my preferred font but didn't work as well. Hoping to hear from you. Thanks!

[2017-09-22 06:06] ImranIB opened #170 "Autolayout issue when using scroll view"
# Report

## What did you do?

Adding sky floating label text fields using scroll view

## What did you expect to happen?

Email text field not showing at proper place after autolayout using scroll view

## What happened instead?

Email text field which is currently at top can show above password in normal scenario.

## Environment

Please fill in this section with information about your environme

[2017-09-22 13:30] k0nserv commented on #170
Hey @ImranIB can you reproduce this outside of your own project? It's hard to gague what the issue might be without a runnable project

[2017-09-22 13:31] k0nserv commented on #169
Both the options you've mentioned should work to solve your problem. Can you share a project that illustrates this?

[2017-09-22 14:33] ImranIB commented on #170
Just add multiple text fields in a scroll view and do the Autolayout part. Check if the text fields work properly in the scroll view using autolayout.

[2017-09-25 08:39] ManiaChamp commented on #70
Can you please remove upercase by default if somebody needs it he can put it up ?

[2017-09-26 07:30] neatree commented on #136
I had a same problem. when you open the attributes inspector, you can see two placeholders. don't input the first one, use the second Placeholder on the Text Field section. It simply worked for me.

[2017-09-26 11:44] Maryom commented on #136
@neatree Thank you 🙏🏼

[2017-10-02 10:46] AbdulazizAlmohsen opened #172 "Type 'NSAttributedStringKey' (aka 'NSString') has no member 'foregroundColor'"
Just updated my Xcode and using swift 4.
Xcode = Version 9.0 (9A235)
iOS version 10.0
pod --version 1.3.1

When I try to change target swift version to 3.2 I get this error
<img width="598" alt="screen shot 2017-10-02 at 1 42 47 pm" src="https://user-images.githubusercontent.com/18103561/31074144-e872dc92-a777-11e7-91b7-7d9008a12774.png">
<img width="746" alt="screen shot 2017-10-02 at 1 43 07 pm"

[2017-10-02 13:37] k0nserv commented on #172
What integration method are you using?

[2017-10-02 13:51] AbdulazizAlmohsen commented on #172
Pod

[2017-10-02 13:57] k0nserv commented on #172
Did you use the post_install hook from https://github.com/Skyscanner/SkyFloatingLabelTextField/issues/158 to change the version?

[2017-10-02 13:59] AbdulazizAlmohsen commented on #172
No I actually haven't figured out how to use. Can you please guide me

[2017-10-02 14:02] k0nserv commented on #172
Sure, see this comment on the thread linked in #158 https://github.com/CocoaPods/CocoaPods/issues/6791#issuecomment-320028044

[2017-10-02 14:07] AbdulazizAlmohsen commented on #172
Just this in my pod file ?
[code]

[2017-10-02 14:08] k0nserv commented on #172
Yeah

[2017-10-02 14:12] AbdulazizAlmohsen commented on #172
This is what my pod looks like. Is that correct ?

[code]

[2017-10-02 14:13] k0nserv commented on #172
Yeah

[2017-10-02 14:17] AbdulazizAlmohsen commented on #172
I'm sorry but it's not installed with the other pods. Can you please check the pod structure for me. First time to use the hook :)

[2017-10-02 14:47] k0nserv commented on #158
I've just pushed a new commit(a5fe9c9) that adds support for both Swift 3.2 and Swift 4 at the same time. Can everyone please test this with

[code]

[2017-10-02 14:51] k0nserv commented on #172
I've just pushed a Swift 3/4 compatible fix in a5fe9c9 can you try point directly to git for `SkyFloatingLabelTextField` per the comment in #158 ?

[2017-10-02 15:01] #143 closed

[2017-10-02 22:19] AbdulazizAlmohsen commented on #172
thank you

[2017-10-03 08:12] k0nserv commented on #172
I take it that worked?

[2017-10-03 08:23] AbdulazizAlmohsen commented on #172
Yeah

[2017-10-03 08:38] k0nserv commented on #172
Great stuff, I'll look at releasing this in the coming week. In the meantime you can keep running against master

[2017-10-03 08:38] #172 closed

[2017-10-03 13:37] DaRkRaGe commented on #158
It's working now with this pod: SkyFloatingLabelTextField', git: 'https://github.com/Skyscanner/SkyFloatingLabelTextField/'

[2017-10-05 17:01] joaovbalmeida commented on #161
Same thing happening here, i have a view with 4 textfields, if i start filling them by tapping on the first one and proceeding trough them by the keyboard next button, just the one that i tapped stays with the selection color, the rest turns back to the normal color. After analyzing, i realized that only the fields that you tap stays with the selection color after populated, if you populate a fiel

[2017-10-05 18:11] joaovbalmeida commented on #48
Same thing happening here, i have a view with 4 textfields, if i start filling them by tapping on the first one and proceeding trough them by the keyboard next button, just the one that i tapped stays with the selection color, the rest turns back to the normal color. After analyzing, i realized that only the fields that you tap stays with the selection color after populated, if you populate a fiel

[2017-10-05 18:25] joaovbalmeida commented on #161
Managed to fix by simply setting fields isHighlighted = true in viewdidload

`//Correct SkyFloating Issue
     emailField.isHighlighted = true
     nameField.isHighlighted = true
     passwordField.isHighlighted = true
     confirmPasswordField.isHighlighted = true`

[2017-10-05 18:26] joaovbalmeida commented on #161
Managed to fix by setting highlighted on viewdidload

`textField.isHighlighted = true`

[2017-10-05 18:28] joaovbalmeida commented on #48
Managed to fix by setting highlighted on viewdidload

`textField.isHighlighted = true`

[2017-10-06 02:34] danya0365 commented on #170
Me too.

[2017-10-07 11:21] ml012 opened #174 "Objective-C issues"
When I use SkyFloatingLabelTextField in storyboard(interface builder) in objective-c project, I had key-value compliant error.

what is best practice to use in Storyboard in objective-c?

[2017-10-07 11:33] bogren commented on #174
That should not be a problem. We're using `SkyFloatingLabelTextField` in storyboard in Objc. How do you install `SkyFloatingLabelTextField`, CocoaPods, Carthage?

[2017-10-07 11:36] bogren commented on #170
How are you laying out the views? As @k0nserv said, are you able to reproduce this outside of your project? Are both fields affected when scrolling? I suspect there is an issue in how you setup the constraints.

[2017-10-07 11:39] bogren commented on #169
Can you share the code you tried? See #139

[2017-10-09 13:18] ml012 commented on #174
Yes, sorry, it was my mistakes due to other problem.

[2017-10-09 13:18] #174 closed

[2017-10-10 13:42] k0nserv commented on #158
Just released 3.2.1 with this fix. Closing the issue now

[2017-10-10 13:42] #158 closed

[2017-10-12 18:16] dagi12 opened #175 "Appearance proxy not working"
## What did you do?

I try to style SkyFloatingLabelTextField globally through appearance proxy

## What did you expect to happen?

I expect line to be green by code
`let style = SkyFloatingLabelTextFieldWithIcon.appearance().
style.selectedLineColor = .red`

## What happened instead?

Nothing happens.

## Environment

Xcode Version: 9
SkyFloatingLabelTextField Version: 3.2.1
Method of Integration

[2017-10-12 21:53] dagi12 commented on #175
Hey I accidentally use appearance proxy again on UiTextField after above code. Problem is gone.

[2017-10-12 21:53] #175 closed

[2017-10-26 08:41] nestorAppsolutely commented on #169
Hello, I tried your suggestion bogren and it worked. Thanks!

[2017-10-26 08:41] #169 closed

[2017-10-26 08:44] nestorAppsolutely opened #176 "Adjusting FLoating Title Distance from bottom"
Hello again. How do i Adjust how high the title label floats with respect to the input line? Thanks!

[2017-11-01 14:03] ControlAdad opened #178 "iconFont in interfaceBuilder"
Hi

Can I set iconFont in interfaceBuilder?

[2017-11-08 11:07] robertodias180 opened #179 "Memory Leak issue"
# Report

## What did you do?

There is some issue on iOS 11.1, not sure about 11.0 because I did not test it, as for iOS 10 it works like perfectly.

The issue is that once you interact with the view it won ever be dealloc. I added a deinit method to `SkyFloatingLabelTextField.swift` in order to test it, on ios 10 it gets called every time but on 11.1 it does not.

if need I can provide a sample

[2017-11-08 11:14] k0nserv commented on #179
Hmm that's super strange. Thanks for investigating. A sample project would be great

[2017-11-08 11:18] k0nserv commented on #179
Just tested this on master with the example project. I'm seeing deinit being called on iOS 11.1 for all cases

[2017-11-08 11:49] robertodias180 commented on #179
@k0nserv [here](https://github.com/robertodias180/SkyFloatingLabelTextFieldLeekTest) is an example

[2017-11-08 12:02] k0nserv commented on #179
That's super strange. I'm not seeign it with that example either. Both the second view controller and the two fields are getting `deinit`ed for me. I'm on Xcode 9.1(9B55) with the iOS 11.1 iPhone 8 Plus simulator. @bogren can you be a third person here?

[2017-11-08 12:14] robertodias180 commented on #179
@k0nserv if I open and close the view it calls `deinited ` but if you select any of the fields or write any text on them and then click back it does not.

[2017-11-08 13:19] k0nserv commented on #179
You are right. It seems like UIkeyboardImpl is keeping a reference to the instances after the view is removed.

![image](https://user-images.githubusercontent.com/1333960/32551111-58b5abca-c487-11e7-8c8a-cf3bf3379383.png)

[2017-11-08 13:22] k0nserv commented on #179
I can replicate this with a regular UITextField. I think this is a iOS bug rather than a SkyFloatingLabelTextField specific issue.

![image](https://user-images.githubusercontent.com/1333960/32551294-eeeca59e-c487-11e7-877d-312b22dabac2.png)

[2017-11-08 13:27] robertodias180 commented on #179
that makes things worst since we can't fix it...

thanks for the help @k0nserv 😃

[2017-11-10 03:01] gour-next opened #180 "Crashing when set title programatically"
# Report

## What did you do?

ℹ I download this project by using Carthege. After that I assign a UItextField class name to 'SkyFloatingLabelTextField' in storyboard and reference in ViewController. After that I am going to set title on that textfield and its not working. Though I can set text and change the background color of the  textfield.

## What did you expect to happen?

ℹ Application shou

[2017-11-10 16:39] AndreaMiotto opened #181 "Autoresizing textfield text"
Hi, I'm trying to autoshrink, autoresize the text in the textfield when the text is more length than the textfield width. But when I type in the textfield the text will move out on the left side, and the first letters disappears...

![schermata 2017-11-10 alle 18 07 52](https://user-images.githubusercontent.com/11211914/32669800-18dc424a-c642-11e7-9abf-0c9e2efb6a14.png)

[2017-11-16 09:47] joyalserrao opened #182 "Is it possible to add Custom Image in the place of Icon ??"
How to add custom image instated of icon.  I am using swift 4. unable to find icontype enum property . Please help

[2017-11-16 13:38] k0nserv commented on #182
Hey, there's https://github.com/Skyscanner/SkyFloatingLabelTextField/pull/159 which is currently not merged. Waiting for @PedroAnibarro1 to get back to me, however I might just merge it if don't here from them

[2017-11-17 05:50] vishalhmonpara commented on #130
I'm using 3.0 version of SkyFloatingLabelTextField in swift 3.1 and getting the same error.

[2017-11-17 06:11] vishalhmonpara opened #183 "Expected Declaration"

[2017-11-17 12:49] joyalserrao commented on #182
Hello @k0nserv  I have done with icon color with image. is it right way ??? but it work well

        let img: UIImage = UIImage(named: "user_id")!
        let imgSize: CGSize = self.password.iconLabel.frame.size

       // UIGraphicsBeginImageContext(imgSize)
        UIGraphicsBeginImageContextWithOptions(imgSize, false, 0.0)
        img.draw(in: CGRect.init(x: 0, y: 0, width: imgSize.width, heig

[2017-11-21 19:47] ksadowski opened #184 "How to get the content of floating title in SkyFloatingLabelTextField using XCUITest?"
Hello,

I've already posted this question on Stack Overflow as instructed (https://stackoverflow.com/questions/46937080/how-to-get-the-content-of-floating-title-in-skyfloatinglabeltextfield-using-xcui) but unfortunately didn't get any response and it's still blocking my tests.

Can anybody help me with such issue? Below you can find original Stack Overflow question:

[2017-11-22 09:11] k0nserv commented on #184
I have very little experience with XCUITest and no experience with XCUITest for `SkyFloatingLabelTextField` unfortunately. `SkyFloatingLabelTextField` inherits from `UITextField` so if you google for this but use `UITextField` instead of `SkyFloatingLabelTextField` any answer you find should be applicable to both.

[2017-11-22 09:11] k0nserv commented on #184
cc @bogren

[2017-11-22 12:29] ahmedsafadii commented on #119
+1

[2017-11-23 10:38] k0nserv commented on #183
What error are you getting?

[2017-11-23 10:38] k0nserv commented on #182
It is now, just released version 3.4.0 with support for this. Thanks to @PedroAnibarro1

[2017-11-23 10:38] #182 closed

[2017-11-23 10:39] k0nserv commented on #181
Can you share the method you are using? This should work the same as for `UITextField` since `SkyFloatingLabelTextField` just inherits from it

[2017-11-23 10:39] k0nserv commented on #180
Hi, do you have a reproducible example for this you could share?

[2017-11-23 10:39] #179 closed

[2017-11-23 10:43] k0nserv commented on #178
No I believe `@IBInspectable` does not support `UIFont` atm so it's not possible

[2017-11-23 10:43] #178 closed

[2017-11-24 03:44] #183 closed

[2017-11-30 17:23] ebeem commented on #136
I can confirm that this issue exists, and @neatree 's solution works perfectly

[2017-12-01 13:15] ergunkocak opened #185 "Version 3.4.0 change log is missing"
Version 3.4.0 change log is missing

[https://github.com/Skyscanner/SkyFloatingLabelTextField/releases](url)

[2017-12-01 13:26] k0nserv commented on #185
I screwed up the release it seems. Notes are still in `CHANGELOG.md` though https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/CHANGELOG.md#v340

[2017-12-01 13:26] #185 closed

[2017-12-13 11:02] #184 closed

[2017-12-13 20:38] drjasonharrison opened #186 "Crash in SkyFloatingLabelTextField textHeight"
# Report

## What did you do?

used SkyFloatingLabelTextField in an iOS project using Carthage

## What did you expect to happen?

App launch without problem, this mostly happens

## What happened instead?

We have one crash reporting using Crashlytics. Crash report attached.

SkyFloatingLabelTextField textHeight crashed when force unwrapping self.font

We were using SkyFloatingLabelText 2.0.1 hav

[2017-12-14 07:49] iamir4g opened #187 "how to use it when i work with storyboard?"
# Report

## What did you do?

hi i never use library in project
in the project creat layout with storyboard and i want use it
i don't like creat layout programmatically!!
this library too cute i want use it Please Help MI!

## What did you expect to happen?

## What happened instead?

## Environment

Xcode Version:9.1
SkyFloatingLabelTextField Version:'SkyFloatingLabelTextField', '~> 3.0'
Deploym

[2017-12-15 12:33] CrisBarreiro commented on #111
It might be a bit late to comment on this issue, but using module `SkyFloatingLabelTextField` fixed the issue

[2017-12-15 22:23] TyM6JIep opened #188 "Hide cursor"
Hello.
How can I hide cursor?

[2017-12-20 20:45] henrique2601 commented on #187
You can easily create a normal text field than set de Class and module as SkyFloatingLabelTextField in your storyboard.

![captura de tela 2017-12-20 as 18 43 29](https://user-images.githubusercontent.com/7269596/34227850-c462ce80-e5b5-11e7-9edd-8959626e8af5.png)

After that you can set any custom field that you want in your textfield:

![captura de tela 2017-12-20 as 18 43 29](https://user-images

[2017-12-21 07:29] Neogene opened #189 "Ho to move tooltip up to a precise deltaY"
When writing a text the field selected text string moves up but if the used icon is too big they overlap, there is a way to set the y to which the field selected text moves? best regards.

[2017-12-21 13:36] hardikamal commented on #119
+1

[2017-12-26 07:57] pbhatt-mphrx commented on #176
Hi, Any update. I am having same requirement.

[2017-12-27 06:26] SYAM1263 opened #190 "Please upload objective c code"
Please upload objective c code

[2017-12-27 06:27] #190 closed

[2017-12-27 06:28] SYAM1263 commented on #190
Please Upload Objective C Code

[2017-12-28 09:19] k0nserv commented on #190
Hey @SYAM1263 I don't quite know what you mean by this, there is no Objective-C code as this is a Swift pod

[2017-12-28 09:22] k0nserv commented on #176
Try setting a higher line height on the font you are using

[2017-12-28 09:24] k0nserv commented on #189
Setting a higher line height for the text field might help here

[2017-12-28 09:27] k0nserv commented on #186
Hmm are you setting the font yourself our relying on the system font being set by the OS? I agree that the force unwrap is not ideal, however what you would do in its absence is a big question. Just using a line height of 0 is likely not what you'd want

[2017-12-28 09:27] k0nserv commented on #187
@henrique2601 a PR would be absolutely wonderful :)

[2018-01-02 22:47] drjasonharrison commented on #186
We're setting the font ourselves, it's not a zero point font size. And it's only been seen once. Possibly a race condition in the UIKit autolayout vs storyboard resource loading.

[2018-01-19 10:59] deeplightco commented on #176
If you set a height constraint (larger than default) for the text field it will lay out the line, field and title label with more spacing.

[2018-01-20 01:31] Lo1icon commented on #187
what about the text field with icons?
Icon Type Value means?

[2018-01-20 02:27] Lo1icon commented on #187
how to use FontAwesome Icon with storyboard?

[2018-01-20 06:13] dharani-123 opened #192 "How to add Validation For Sky Floating Textfields please give me some example code"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2018-01-24 05:13] #192 closed

[2018-02-08 13:43] #189 closed

[2018-02-08 13:44] k0nserv commented on #188
`SKYFloatingLabelTextField` is a subclass of `UITextField` so any method that works for `UITextField` will work for `SKYFloatingLabelTextField` too.

[2018-02-08 13:44] #188 closed

[2018-02-09 00:49] lawgimenez opened #194 "Title not all caps option"
# Report

## What did you do?

ℹ I implemented this library and I want an option where the title would not be in all caps

## What did you expect to happen?

ℹ Title to not be in all caps option

## What happened instead?

ℹ Can't find an option for disabling all caps in title

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version: 9.2
SkyFloatingLabe

[2018-02-09 16:11] arjun011 opened #195 "Swift4"
Hi,
Is it support Swift4, I am going to implement in  XCode Version 9.2 (9C40b). using cocoa pods.

[2018-02-11 18:50] k0nserv commented on #194
Hey @lawgimenez ,

just set the `titleFormatter` to a function that does not modify the title and you're good

[2018-02-12 09:02] k0nserv commented on #195
Hi @arjun011,

yes Swift 4 is supported since version `3.2.1`.

[2018-02-12 09:02] #195 closed

[2018-02-13 12:24] dennytwix commented on #184
Hi @ksadowski

The problem is that `titleLabel` is a child of `textField` and they both have accessibility enabled, so `titleLabel` is not accessible in this case.
There is a workaround if you use accessibility only for UI tests – to disable accessibility for `textField`:
[code]

Later in UI tests you can access both of them:
[code]

[2018-02-14 10:59] freakdragon commented on #194
I didn't like it too because I've changed the "needToUpperCasePlaceholder" function and added "needToUpperCasePlaceholder" variable:
[code]
When I changed it I had to change the "updateTitleLabel", "titleOrPlaceholder" and "selectedTitleOrTitlePlaceholder" functions:
[code]

[2018-02-23 22:18] AndreaMiotto opened #196 "Can's see the placeholder at beginning"
# Report

## What did you do?

I have some textfields with values already set
## What did you expect to happen?

to see the textfield with the value and the placeholder

## What happened instead?

there is only the textfield, not the placeholder until I touch the textfield

## Environment

several textfield into table rows

[2018-02-23 22:34] #196 closed

[2018-03-01 11:54] Chandrachud opened #197 "No provision for enabling accessibility."
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2018-03-09 17:46] SzadyDesigns commented on #181
I'm having the same issue.  I'm pre-filling the text for a textField with fetched data from an API call, and the text isn't shrinking to fit.  I've added `textFieldName.adjustsFontSizeToFitWidth = true` as well checking the box in IB and nothing seems to fix it.  Help?

[2018-03-11 03:02] prasanth270 commented on #194
Like @k0nserv suggested, we can use `titleFormatter`:
`self.password.titleFormatter = { (text: String) in
           return text.capitalized
   }`

[2018-03-19 10:46] Tovkal commented on #181
Apparently UITextField will only go down to a minimum font size of 14. If you set the minimum to 10, it will only reach 14.

Source: https://stackoverflow.com/a/30881385/1283228

[2018-03-20 10:25] anitaa1990 commented on #40
Hey guys, is there an option added to the library to add icon to the right instead of the left?

[2018-03-22 19:53] wagnercasey commented on #194
@lawgimenez set the formatter like this
`textField.titleFormatter = { $0 }`

[2018-04-03 11:35] invinciible opened #199 "Warnings"
![screen shot 2018-04-03 at 5 03 49 pm](https://user-images.githubusercontent.com/25017046/38246942-15259b98-3761-11e8-9cbd-927775462ff0.png)

Using SkyFloatingLabelTextFieldWithIcon , changed the icon type value to 1 and set image icon but still on every text field getting warning

WARNING - Did set iconImage when the iconType is set to IconType.font. The image will not be displayed.

[2018-04-08 07:06] bludginozzie opened #201 "SkyFloatingLabelTextField.framework: required code signature missing"
I am unsure if this is a bug or local issue.  I am positing it here to see if anyone else is experiencing the same problem.

I had a fully working project with no problems.  I then recently upgraded to the latest version of SkyFloatingLabelTextField (v3.4.1) and also upgraded Cocoapods (v1.5.0) and I am now getting a strange error in the storyboard editor.

I have tried uninstalling the SkyFloatin

[2018-04-11 06:53] dharani-123 opened #202 "how to add left side padding for icon in skyfloating image textfield in swift"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2018-04-11 08:31] mmmahajan commented on #150
Hi I solved this problem.

Set to Allow API Extension to No to particular framework who gives this e
error like IQKeyboardManager

Consider you facing this issue for IQKeyboardManager and you installed this framework using Pod. Then your project click on Pod -> CLick on IqkeyboardManager.

And set Allow API Extension to No

[2018-04-12 18:13] MauricioDomenech commented on #180
[test.zip](https://github.com/Skyscanner/SkyFloatingLabelTextField/files/1904420/test.zip)
Here you have an example, with Xcode 9.3, the app crash when I try to set the title manually.

[2018-04-14 11:42] musbaalbaki commented on #201
+1

[2018-04-14 17:43] xRena commented on #201
+1

[2018-04-15 07:34] dcw008 commented on #201
+1

[2018-04-15 08:01] eitanaviv commented on #201
+1

[2018-04-16 08:42] k0nserv commented on #201
Hey everyone. That doesn't sound too good. Does reverting to 3.4.0 solve the issue for the time being. I'll have a look at what changed between 3.4.1 and 3.4.0, but my hunch is that nothing changed which would cause this.

[2018-04-16 08:46] k0nserv commented on #201
I had a look and there's nothing in 3.4.1 that I think would have caused this. Can everyone please try this https://stackoverflow.com/questions/40110392/required-code-signature-missing-for-a-library. Also please refrain from +1 comments as they make the thread hard to read, use reactions instead.

[2018-04-16 08:51] k0nserv commented on #199
Hey @invinciible,

I'm not sure if Xcode maintains order when setting User Defined Runtime Attributes, if it does moving `iconTypeValue` before `iconImage` should remove the warning. If it doesn't I think there might be no way around this

[2018-04-16 15:57] ahmedhatem003 commented on #201
Thank you @k0nserv
I'll use reactions next time
I went through solutions in the link but couldn't find _CodeSignature folder in SkyFloatingLabelTextField.framework in finder
<img width="626" alt="screen shot 2018-04-16 at 17 52 13" src="https://user-images.githubusercontent.com/20728502/38820981-96530ff0-419f-11e8-85c0-2fe05e084423.png">

[2018-04-16 21:37] bludginozzie commented on #201
No, rolling back to 3.4.0 does not fix the issue.  Could it be an incompatibility with Cocoapods 1.5? I noticed it has some updates for static libraries that maybe causing this issue? http://blog.cocoapods.org/CocoaPods-1.5.0/

[2018-04-17 09:13] k0nserv commented on #201
@bludginozzie That's a possibility for sure. I'll have to have a look and see if there are any actions for library authors under 1.5.0

[2018-04-17 09:58] bludginozzie commented on #201
Thank you, the workaround works great.

[2018-04-19 15:57] ohayon commented on #194
Worth noting - this needs to be set before the title itself is set, otherwise the `titleFormatter` block doesn't get called. 🚀

[2018-04-25 01:55] Shiju86 opened #204 "test"

[2018-04-25 10:45] commando24 commented on #195
@k0nserv i think  you mention that.It will be really helpful for other users.

[2018-04-25 15:34] #204 closed

[2018-04-27 11:46] zhiyilee commented on #134
Same issue  on xcode 9.3 Swift 4.1

[2018-05-03 07:50] k0nserv commented on #161
Hey I had a closer look at this and I can't reproduce this with the demo project attached. Tapping on the fields work as expected and the selected style is only on the that's the first responder. If you manually set `isHighlighted` you should manually set it to `false`, but for normal stuff this isn't required at all as the control will change when it becomes first responder/resigns first responde

[2018-05-09 16:59] merlin910 commented on #201
I also have this same issue when integrating via Carthage the log file points to the .swiftlint.yml file and when I try to build manually I have to comment out that script to get it to build.

[2018-05-14 11:59] Kanishka3 opened #206 "How to add password field using SkyFloatingLabelTextField"

[2018-05-15 05:41] #206 closed

[2018-05-21 05:34] D-Mx opened #207 "Carthage - Task failed with exit code 65"
Yes

# Report

## What did you do?

ℹ Tried to install via carthage, got this meesage

[code]

## What did you expect to happen?

ℹ Framework successfully built

## What happened instead?

ℹ Task failed with exit code 65

## Environment

ℹ

Xcode Version:  9.3.1 (9E501)
SkyFloatingLabelTextField Version: 3.4.1
Deployment Target: 10.0
Base SDK:
Method of Integration:  Carthage

## Project that demo

[2018-05-21 09:36] aashishtamsya commented on #161
Try on deployment target: 10.3.3, device: iPad

[2018-05-28 06:36] chejarla-venkatesh commented on #40
There is no option to set iconImage to Right or Left. Still you can achieve this by coding.
Just make the textFiled class as **SkyFloatingLabelTextField** and add this two lines to your code

[code]
With this no need to use **SkyFloatingLabelTextFieldWithIcon**

[2018-05-28 08:14] alvincrisuy commented on #150
@mmmahajan You rock! Your suggestion works like a charm!

[2018-05-28 16:10] k0nserv commented on #202
Hey @dharani-123. This is currently not supported, but if you want to contribute this functionality it'd be very appreciated

[2018-05-28 16:14] k0nserv commented on #201
@merlin910 I'm not quite sure how to disable custom scripts when Carthage is used.

[2018-05-28 16:16] #194 closed

[2018-05-28 16:16] #187 closed

[2018-05-28 16:17] k0nserv commented on #186
Has this cropped up again or are you any closer to reproducing it?

[2018-05-28 16:17] #181 closed

[2018-05-28 16:18] k0nserv commented on #180
Bump

[2018-05-28 16:18] #176 closed

[2018-05-28 16:18] #170 closed

[2018-05-29 08:38] k0nserv commented on #186
I've added 9c50bbe just to make sure we can avoid this happening. I'll release it in a while as 3.5.1

[2018-05-29 08:44] k0nserv commented on #186
Published as 3.5.1

[2018-05-29 12:17] ambujshukla99 opened #209 "Spacing while copy paste the text."
# Report

## What did you do?

I have added a  textfield inheriting the skylabeltextfield. It creates problem when the text is copy and then paste. Because formatting issue.

## What did you expect to happen?

It must created equal space in the textfield string after copy paste.
## What happened instead?

I It just keeps the spacing problem.

## Environment

ℹ Please fill in this section with info

[2018-05-29 13:07] ambujshukla99 commented on #209
Hi @k0nserv , thanks for checking the issue. So did you copy paste the string which includes spacing means after putting the text in the textfield. Or did you just copy a string which has no space and then pasted.
Because I have copied the string which have no space and then paste on the skyfloatinglabeltextfield but not able to get the formatted string.
Please inform if anything unclear.

[2018-05-29 13:19] ambujshukla99 commented on #209
Please check the screenshot, I need to do like this. I have increased the fonts to achieve this.
![simulator screen shot - iphone 8 plus - 2018-05-29 at 18 47 51](https://user-images.githubusercontent.com/4927660/40661287-f059d2c0-6370-11e8-9b6c-e440006d1d29.png)

[2018-05-29 13:30] ambujshukla99 commented on #209
It is working fine. It's my bad, I was doing something wrong:(

[2018-05-29 13:30] #209 closed

[2018-05-29 19:49] eliasbellido commented on #106
Any solution for this already?

[2018-05-30 03:05] D-Mx commented on #207
I ran carthage again to post the log but with version "v3.5.1" worked, I don't know if that changed anything but it has finally built. Sorry for the inconvenience.

[2018-05-30 08:08] k0nserv commented on #207
That's very strange. Nothing about the project itself changed between 3.4.1 and 3.5.1 🤷‍♂️ Glad it worked out though

[2018-05-30 08:08] #207 closed

[2018-05-31 02:35] dancemonkey commented on #134
Darn, was excited to try this but also having the same issue. It's the latest XCode beta so I can try on the last stable release for now, but could really use it working with the latest upcoming version.

[2018-06-03 14:52] tester87 opened #210 "How can I add error message if invalid email in Objective C?"
Hi all,

Is there any idea how to add in "invalid email" in objective C? Currently sample shown in swift version and I would like to apply this on Objective C. Please help.

Thank you.

[2018-06-07 10:13] connorcowling opened #211 "Use of undeclared type 'SkyFloatingLabelTextField'"
## What did you do?

Installed the pod, set up the text fields, set the class to SkyFloatingLabelTextField

## What did you expect to happen?

It to work..

## What happened instead?

Text field errors: Use of undeclared type 'SkyFloatingLabelTextField'

Xcode Version: XCode 9.3.1
SkyFloatingLabelTextField Version: 3.5.1
Deployment Target: 10.3
Method of Integration: CocoaPods

[2018-06-08 15:30] luizcelarino opened #212 "IBDesignable Issue at stoyboard (Prevents to do anything at storyboard)"
# Report

## What did you do?

I'm trying to edit anything within a storyboard that contains a SkyFloatinglabelTextField.
Xcode shows
![screen shot 2018-06-08 at 12 28 36](https://user-images.githubusercontent.com/29202256/41166823-97a0dc4c-6b17-11e8-894d-155ca88f1ae4.png)
Simulation.storyboard: error: IB Designables: Failed to render and update auto layout status for AddPaymentMethodViewControlle

[2018-06-08 23:47] kyaracat commented on #212
Same here. It happened when I updated Cocoapod to the latest version(1.5.3). I downgraded to 1.4.0 and it looks fine for now. I need to update my Cocoapod soon or later tho.

[2018-06-11 11:01] tarikstafford commented on #212
same problem here, is there a solution to this?

[2018-06-12 08:57] k0nserv commented on #211
Hey @connorcowling, this is such a simple case that I suspect it might be something with your config. Can you provide a reproducable example?

[2018-06-12 08:58] k0nserv commented on #212
Yeah this is covered in https://github.com/CocoaPods/CocoaPods/issues/7606 and https://github.com/Skyscanner/SkyFloatingLabelTextField/issues/201

[2018-06-12 08:58] #212 closed

[2018-06-12 10:17] ajoykarmakar459 opened #213 "Main.storyboard: error: IB Designables: Failed to render and update auto layout status for ViewController (BYZ-38-t0r): dlopen(SkyFloatingLabelTextField.framework, 1): no suitable image found. Did find: SkyFloatingLabelTextField.framework: required code signature missing for 'SkyFloatingLabelTextField.framework'"
# Report

Firstly I want to give you appreciate for this awesome package but I got some issue while using this.I have Install this package through cocoapods and it's working fine on simulator but the problem begins with xcode preview builder.After adding any input to SkyFloatingLabelTextField, the preview builder is working off and give an error.
<img width="272" alt="screen shot 2018-06-12 at 3 4

[2018-06-12 13:48] k0nserv commented on #213
Hey @ajoykarmakar459 please see #201

[2018-06-12 13:48] #213 closed

[2018-06-16 13:56] #210 closed

[2018-06-16 13:56] tester87 commented on #210
Solved. Sample code as below:-
- (BOOL)textField:(UITextField *)textField shouldChangeCharactersInRange:(NSRange)range replacementString:(NSString *)string {

    if (textField == txtEmail)
    {
        if (txtEmail.text.length >= 12 && range.length == 0)
        {
            return NO;
        }
        if(![txtEmail.text containsString:@"@"])
        {
            txtEmail.errorMessage = @"Inv

[2018-06-16 14:21] tester87 opened #214 "Can we make SkyFloatingLabelTextField in multiple line?"
Hi all,

Is it possible to make it 2 or more lines for SkyFloatingLabelTextField? Understand it can be done in UITextView. Please help, thanks!

[2018-06-16 21:55] antonmedstorta opened #215 ""Value of type UITextField has no member titleLabel""
Hi,

I was looking for a way to keep placeholder text centered when it's floating above the field (during user input). I came across this discussion (https://github.com/Skyscanner/SkyFloatingLabelTextField/issues/68) and thought that would solve my problem. Unfortunately, this was not the case. When I try to access "titleLabel" and adjust its textAlignment property, XCode tells me that "Value of t

[2018-06-17 09:53] #215 closed

[2018-06-18 13:46] k0nserv commented on #214
Hey @tester87, unfortunately this is not possible because the underlying UI component would have to be configurable. `UITextField` which `SkyFloatingLabelTextField` is based on can only handle a single line

[2018-06-18 13:46] #214 closed

[2018-06-18 14:51] antonmedstorta commented on #215
I did. Maybe I should've commented and said so, sorry. The solution was quite simple in the end, really. As I had previously created the textfield it was linked to the ViewController as a UITextField Outlet, and not as a SkyFloatingLabelTextField. After I re-linked it from the Interface Builder and got all my files in order it found the definition and I was able to change the titleLabel property.

[2018-06-20 00:32] harrisrap commented on #90
FYI, the link to that method and examples take me to the wrong place. I think I figured it out anyway. I call setTitleVisible(true) in textFieldDidBeginEditing. But now I have the title twice - one as the placeholder and the small one above it. How do I get it to just show the small one above, and have the placeholder blank?

[2018-06-20 07:19] tester87 commented on #214
Hi k0nserv, noted with thanks!

[2018-06-21 08:18] k0nserv commented on #180
@remingtonchan You should have to assing the module with Carthage I believe because Carthage imports the project as a framework

[2018-06-21 23:46] remingtonchan commented on #180
@k0nserv

I drag the framework to Linked Frameworks and Libraries.

And I do not encounter an error when I reference an object of the SkyFloatingLabelTextField type.

But for the module under Custom Class in the Interface Builder, nothing shows in the drop down. Manually typing in the module name (SkyFloatingLabelTextField) also yields the same error.

[2018-06-28 12:24] abhijitpp opened #217 "how to align the text to keep it in the middle"
# Report

## What did you do?

ℹ I am trying to make an OTP Screen page in iOS i have achieved all the functionality just i got one issue that i want it keep the text in the middle of the textfield

## What happened instead?

ℹ it starts from the exact corner of the text field

Xcode Version: 9.2
SkyFloatingLabelTextField Version: updated version
Method of Integration: CocoaPods | Carthage | Manua

[2018-07-03 09:15] HariNarayanan777 commented on #119
I am also need this.. +1
...  Please

[2018-07-03 09:38] ahmedsafadii commented on #119
+1

[2018-07-03 10:03] k0nserv commented on #119
At most we can consider a PR that implements this, but honestly it might be better to make a separate project instead.

[2018-07-06 07:58] lawgimenez opened #219 "Title should have a lowercase option"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2018-07-06 08:00] #219 closed

[2018-07-12 10:18] k0nserv commented on #217
Hey @abhijitpp can you give some more details on this? The component is an extesions of `UITextField` so any method that works for centering text in a `UITextField` should be applicable

[2018-07-17 20:16] fadizant commented on #119
+1

[2018-07-26 12:40] HariNarayanan777 commented on #201
the error was gone after i paste the below code in my pod file. and install the pod once again.

post_install do |installer|
    installer.pods_project.build_configurations.each do |config|
        config.build_settings.delete('CODE_SIGNING_ALLOWED')
        config.build_settings.delete('CODE_SIGNING_REQUIRED')
    end
end

[2018-07-26 14:05] hsharghi opened #222 "Color property for floating title"
I have looked into documentation and code but wasn't able to find the parameter for this property :
Floating title text color when text box is not focused.
I've tried to change all the color properties, but it will always stays dark gray color.
Anyone can help me changing it?

![simulator screen shot - iphone 8 plus - 2018-07-26 at 18 16 53](https://user-images.githubusercontent.com/2873823/432669

[2018-07-29 02:42] ximeft29 commented on #187
Hi! I get an error when I try to add the module to my textfield. I get the following error: Failed to render and autoupdate auto layout status for ViewController(....code signature missing for "SkyFloatingLabelTextField.framework". How can I solve this issue?  :)

[2018-07-29 02:51] ximeft29 commented on #187
Hi! I am actually trying with the storyview but my textfield, I get kind of a big space between the textfield and the text that is being written. Here's  what I see in my builder
<img width="454" alt="screen shot 2018-07-28 at 9 50 49 pm" src="https://user-images.githubusercontent.com/38262028/43362467-4fa3f9a4-92b0-11e8-8cdc-b98e65a937cf.png">
Can this be solved via code or through the storyboard

[2018-07-30 12:26] dsngeu opened #224 "text field title automatically get in capital letters. how to change text field title "EMAIL" to "Email""
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2018-07-30 12:42] #224 closed

[2018-07-30 14:41] kwstasna commented on #40
@chejarla-venkatesh yes but if the text is too large, then the letters are above the image

[2018-08-01 08:33] mhNirob opened #225 "First letter of Text Field (First name, email etc) input is by default uppercase"
Hello,

When I write anything in the text field, first character automatically set to uppercase. If I type "nirob", it shows "Nirob". I want the text exactly as I input. No default first letter capitalized. How can I do this?

Thanks.

[2018-08-15 08:24] sushant40 opened #227 "Animations boken"
Since check-in 3b95fa86662a0352a63785f8d6ae2bb7150084e9... animations are broken. Please fix or revert

[2018-08-17 08:05] mojtaba-almoussawi opened #228 "Align placeholder in center"
I want to align my placeholder in center of textField.
How to achieve that?
![screen shot 2018-08-17 at 11 03 19 am](https://user-images.githubusercontent.com/33962696/44254992-46267480-a20d-11e8-83ca-10d930e14613.png)

[2018-08-21 19:36] JasonGreenAmerica commented on #228
+1

[2018-08-21 19:37] JasonGreenAmerica commented on #217
sky ignores the alignment property of the base textfield.

[2018-08-22 12:05] avikhairgavepatil opened #229 "NumberTextField.titleLabelRectForBounds(CGRect(x: 0, y: 0, width: 20, height: NumberTextField.frame.height), editing: true)"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2018-08-24 08:46] k0nserv commented on #225
Hey @mhNirob, SkyFloatingLabelTextField inherits from `UITextField` so you can just set `autocapitalizationType` to whatever you need

[2018-08-27 10:14] Dalein opened #230 "Crash on titleFormatter property"
# Report

## What did you do?
Set block to  txtField.titleFormatter

## What did you expect to happen?
configuration of placeholder text format

## What happened instead?
Crash on line  `txtField.titleFormatter = { (text: String) in return text }`
**Thread 1: EXC_BAD_ACCESS (code=257, address=0x1a1b723bec9)**

## Environment

Xcode Version: 9.4.1 (9F2000)
SkyFloatingLabelTextField Version: 3.5.1
D

[2018-08-27 13:59] k0nserv commented on #229
Please full in the full template if you believe this is a bug

[2018-08-27 14:34] mojtaba-almoussawi commented on #228
I'am talking about the vertical alignment of placeholder not about the horizontal alignment!! As you can see i have already make it to be centered horizontally , but the placeholder is nearly at the bottom of the textfield , so my question was is there a way to keep it in middle of the textField.

That what i have done :
![44254992-46267480-a20d-11e8-83ca-10d930e14613](https://user-images.githubus

[2018-08-27 14:36] k0nserv commented on #228
RIght my bad, I think the issue here is that you are setting the background color. The text is centered inside the textfield itself, however the control allocates space above for the floating label which is why it looks off-center. If you remove the background color it should look okay.

[2018-08-27 14:38] k0nserv commented on #230
Is this reproducible in a barebones project? Can you attach an example project if so?

[2018-08-27 14:39] mojtaba-almoussawi commented on #228
Yes you are right, but i need to set the background color. The only solution i have so far is to make the textFields a subview in UIView, then clear the color of texFiled to be as you have mentioned, and set the background color of UIView. Is there another way to achieve that? thx

[2018-08-27 15:03] k0nserv commented on #228
No there isn't really another solution for it, `SkyFloatingLabelTexeField` is intended to sit on the bg of it's parent view rather than have a custom background.

[2018-08-27 15:32] #228 closed

[2018-08-27 15:35] Dalein commented on #230
Sorry, it was my mistake. I incorrectly connected IBOutlets.

[2018-08-27 15:35] #230 closed

[2018-09-13 14:27] jlaws opened #234 "XCode 10 GM and Swift 4.2 fails to build"
# Report

## What did you do?

Built on XCode 10 GM

## What did you expect to happen?

Build with no errors or warnings

## What happened instead?

Failed to build

[code]

## Environment

Xcode Version: XCode 10 GM
SkyFloatingLabelTextField Version: 3.5.2
Deployment Target: iOS 11
Base SDK: iOS 12
Method of Integration: CocoaPods

## Project that demonstrates the issue

n/a

[2018-09-13 17:26] k0nserv commented on #234
Hey @jlaws, thanks for the report. Let me download the GM and have a look

[2018-09-14 04:49] bojanstef commented on #234
I'm having a similar issue with Xcode `Version 9.4.1 (9F2000)`
SkyFloatingLabelTextField Version: `pod 'SkyFloatingLabelTextField'`
Deployment Target: `iOS 11`
Base SDK: `iOS 12`
Method of Integration: `CocoaPods`

[code]

[2018-09-17 21:18] bojanstef commented on #234
Nevermind, I got mine to work. Was weird terminal settings on my local.

[2018-09-19 07:02] Abdul-Hannan commented on #234
Fails with swift 4.2

[2018-09-19 19:47] Michele404 opened #238 "Swift4.2 update"
Update to 4.2 please

[2018-09-20 12:36] m3rLin0WoRK commented on #217
It should appear like this:
https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1V4TTJr8n_fpZkdk4qQIqXB9vJhMegre3%2Ftextfields-filled-motion2.mp4

(Watch vertical centering)

Thank you!

[2018-09-20 13:26] k0nserv commented on #227
This has been reverted

[2018-09-20 13:26] #227 closed

[2018-09-20 15:41] k0nserv commented on #238
I've just released 3.6.0 which supports Swift 4.2

[2018-09-20 15:41] #238 closed

[2018-09-20 15:41] k0nserv commented on #234
Please give 3.6.0 a try which has Swift 4.2 support

[2018-09-29 18:41] LastSprint opened #241 "XCode 10 Swift 4.2 can't archive"
# Report

## What did you do?

I archived my project (release config)

## What did you expect to happen?

I excepted successful build

## What happened instead?

I have the error: `abort trap:6` and in the bottom of  error log
[code]

In debug builds successfully
## Environment

Xcode Version: 10.0 (10A255)
SkyFloatingLabelTextField Version: v3.6.0
Deployment Target: iOS 10.3
Base SDK: iOS 12
Meth

[2018-09-30 21:53] jlaws commented on #234
Works great, thank you!

[2018-09-30 21:53] #234 closed

[2018-10-01 05:14] sunkumar opened #242 "SkyFloating title level"
Dear Team,

I have implemented this class in my couple of projects.

Will it be possible to keep an option as Bool for autocapitalization of title?

Right now all the title going to Caps. My requirement is to keep title as it is placeholder. Although I have edit the pod file but is not the good practice.

Thanks

[2018-10-01 16:18] k0nserv commented on #242
Hey @sunkumar you can change this behaviour by setting the `titleFormatter` property

[2018-10-02 05:12] JigarPatel1234 opened #243 "Multi line error"
Is there any way to set multiline error in label,
As this is the best floating label textfield till now, we just need one thing and that is multi line error support. if there is some way, please share it to us.
Thank you

Xcode Version: 10
SkyFloatingLabelTextField Version:3.0
Deployment Target:10
Method of Integration: CocoaPods

[2018-10-03 14:09] pratyushpratik commented on #229
have anyone found the issue yet?

[2018-10-05 10:14] sandeepbol commented on #241
I also have the same issue but with another third party library called 'UICircularProgressRing'. I think the problem is not related to the particular library but may be a bug with Xcode 10.

[2018-10-05 12:10] vijayasaiatyam opened #244 "Adding inputView(UIPickerView) to TextFiled causing application crash"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2018-10-07 08:31] LastSprint commented on #241
Yes. I reincluded all my source code files and this error dissappeared

[2018-10-07 08:31] #241 closed

[2018-10-09 04:15] sandeepbol commented on #241
Where is Valid architectures setting in Xcode 10? I couldn't find it.
<img width="640" alt="screen shot 2018-10-09 at 9 44 30 am" src="https://user-images.githubusercontent.com/25767241/46646475-0003e680-cba8-11e8-93f2-c8289b2a42db.png">

[2018-10-09 09:52] sandeepbol commented on #241
It might help others. I did following things - don't know what helped but I was able to archive my app

1) Remove armv7 from valid architectures of a private dynamic framework that I was using.
2) Deintegrate/Integrate Pods again.

I still don't have an option of setting valid architectures for my Xcode project.

[2018-10-15 03:50] RowanG1 commented on #135
Where to put code? ViewDidLoad?

[2018-10-17 15:12] HadiYaac commented on #222
Same for me :/ it is not changing from Interface builder nor programmatically

[2018-10-17 18:10] promehul opened #246 "how can we use it as label?"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2018-10-17 19:05] promehul commented on #246
how can we use it as label in xcode?

[2018-10-17 19:11] #246 closed

[2018-10-18 22:55] RowanG1 opened #247 "Reset colors to defaults in storyboard"
I have a number of fields, and previously set colors for various parameters. Now I want to revert to default colors, and I need to go through each Skyfloat box, and set 5 or so colors. I would like to do this in code, instead, to save time. Is there a default color option, or a reset option?

[2018-10-22 14:02] TomikeKrasnay commented on #40
Make the textFiled class as SkyFloatingLabelTextField and add this code
[code]

[2018-10-27 05:56] puvanarajan opened #249 "Textfield disabled view remove under line"
# Report

## What did you do?

Disabled the textfield

## What did you expect to happen?

When I disabled the textfield need to remove the underline

## What happened instead?

When I disabled the textfield it is showing the underline

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target:
Base SDK

[2018-11-04 09:49] Reedyuk commented on #96
To anyone who might get the same issue as i did, with fontawesome swift, some of the selectable fonts are only in certain styles.
If you get the question mark, then try the styles, .solid, .regular, .brands
One of those should then appear.

[2018-11-06 09:43] Shawnees opened #250 "Add left padding for the Texts"
I can't find a way to add a padding to the title and the text while I keep the underline stuck to the left.
Something like that
![capture d ecran 2018-11-06 a 10 42 50](https://user-images.githubusercontent.com/4942014/48055830-c5926700-e1b0-11e8-9e37-dd0201ca2d70.png)

[2018-11-08 16:11] olerich commented on #222
The property you have to set is called
`titleColor`

[2018-11-12 23:52] anonymouz4 opened #251 "MacOS Support?"
MacOS Support?

[2018-11-14 03:00] HermanKayy opened #252 "Adjusting the Selected Title's Position"
I want to adjust the position of the top label when it's floated up. I want to bring that selected title's position a bit lower closer to the input text. Any wayI can do that?

[2018-11-16 11:53] k0nserv commented on #251
Hey @anonymouz4. It's unlikely that we'll ever have macOS support. I think that would be better in a separate project in any case.

[2018-11-16 11:53] #251 closed

[2018-11-16 11:58] k0nserv commented on #250
Hey @Shawnees this isn't currently possible

[2018-11-16 18:43] hipwelljo opened #253 "Title is not formatted using titleFormatter initially when Text is defined"
# Bug Report

## What did you do?

I have added a SkyFloatingLabelTextField to Interface Builder, configured its text, created an IBOutlet, and set its titleFormatter in viewDidLoad. The problem is when you go to this screen the title is not formatted using the provided formatter. If you tap the field to select it then the title changes its format.

A workaround is to remove the Text from the stor

[2018-11-21 13:40] KompoD commented on #243
@k0nserv, it's interesting question. Please answer as soon as u can :)

[2018-11-22 12:05] saranya-chandran commented on #31
Any update on this?

[2018-11-22 22:16] itsfelipesan opened #256 "Text's end is hidden when it get the field's width limit"
When I'm typing the text on the field and it get at the end of the field, the string keeps increasing, but visually the text is hidden.

If I press the left arrow on the keyboard (<-) to back positions on the text, the hidden piece of string is shown.

I have already tested in a real device and I'm getting the same error.

I expect that the text become visible while we are typing, even if the fiel

[2018-11-23 17:45] itsfelipesan commented on #256
I think that is not the better solution, but I solved the problem by creating the following function:

[code]

It's called inside the editingChanged() in SkyFloatingTextField.swift:

[code]

[2018-11-25 08:24] fadiBlessedTree opened #257 "Extra space before text in RTL Language"
# Report

## What did you do?

Add RTL Localization to my app "Arabic"

## What did you expect to happen?

Work fine without see more spaces before text

## What happened instead?

There is extra space before text when I use "SkyFloatingLabelTextFieldWithIcon" with icon
`Icon type value = 1`

## Environment

Xcode Version: 10.1 (10B61)
SkyFloatingLabelTextField Version: 3.6.0
Deployment Target: 9.

[2018-11-28 10:46] fadiBlessedTree opened #258 "Change titleFormatter for all SkyFloatingLabelTextField"
## How can I change titleFormatter for all SkyFloatingLabelTextField at once not set it one by one ? #

[2018-11-30 16:56] ahmed-sal commented on #241
@sandeepbol , you need to select the `All` tab in the build settings (right next to the `Basics` tab that is selected in the screenshot)

[2018-12-06 09:47] shaileshnparkhi commented on #109
Hi all,
I am having the same issue , when I change Language from arabic to english or vice versa SkyFloatingLabelTextField is not updating according to LTR or RTL.

My xcode version : 10.1
SkyFloatingLabelTextField version : 3.6.0

[2018-12-07 07:45] ankitthakur opened #261 "Integration of TextField with IQKeyboardManager"
# Report
Want to integrate IQKeyboardManager with SkyFloatingLabelTextField https://github.com/hackiftekhar/IQKeyboardManager

## What did you expect to happen?
ℹ We want next and previous toolbar over keyboard.

## Benefits?

ℹ It will be helpful for end-users to integrate easily with forms layout in UI.

[2018-12-10 09:30] k0nserv commented on #243
Hey, no there's isn't support for that at the moment. I am not sure if it's a good idea to support that as it will cause they UI to "jump around" if the label itself is a single line. I think it would be better to add a shorter error and include something more complete elsewhere in your UI

[2018-12-10 09:32] k0nserv commented on #253
We'd need to update the active title when the `titleFormatter` changes to support this. If you submit a PR for it we can include it or just set the title from code as a workaround

[2018-12-10 09:34] k0nserv commented on #247
Hey @RowanG1, no there currently isn't anything like that, but you could create an instance and take the colors from there

[code]

[2018-12-10 09:35] k0nserv commented on #244
Hey @vijayasaiatyam do you have a more details on this, maybe a stacktrace?

[2018-12-18 15:09] martindufort opened #262 "Anyone working on a MacOS fork for this lovely library"
I'm looking at integrating that library into a new macOS application we are building.
Anyone is currently working on a port to MacOS ?

Would love to help / move this forward.
Thanks - Martin

[2018-12-29 10:37] intonarumori commented on #258
- Subclass, then in the `init` overrides set the `titleFormatter` to your desired code.
- Use your own subclass in your code

[2019-01-04 22:07] fattynomnom opened #264 "IconImage Issues"
# Report

## What did you do?

Changed iconTypeValue to 1 as well as used the code iconType: .image programmatically. Applied an image to the iconImage property in the Attributes Inspector and adjusted iconColor on the Attributes Inspector.

## What did you expect to happen?

Expected iconColor to change as selected

## What happened instead?

iconColor remained blue instead (which is not the colo

[2019-01-07 23:12] niclaughter commented on #150
So interestingly, @mmmahajan's solution worked to silence the error in the pod I installed, but in the module I'm trying to access `shared` from the same error is popping up now. I've verified that this setting is set to "NO" in the project file as well.

[2019-01-08 10:55] AmirFT opened #266 "farsi is not supported"
as Farsi(Persian) is an RTL language, it is not supported by the library.

[2019-01-10 15:33] lschwe opened #268 "Gotta update this line in the license. It has placeholders in it."
https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/c7e6cd8efd921491169e5bcd887608573e628013/LICENSE#L189

[2019-01-16 07:17] sagar-vaholiya commented on #64
I am trying to call `textFieldShouldReturn` one of delegate method of UITextfield as following. But not working.

     func textFieldShouldReturn(_ textField: UITextField) -> Bool {

           if textField == self.txtDegree {

                  return false
          }
          else {
                return true
        }

    }

[2019-01-18 08:14] nitrochaien commented on #150
Thank you so much @mmmahajan, u just save my life man

[2019-01-19 08:48] amirch123 opened #270 "alignment"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2019-01-28 17:12] newmanw commented on #238
Still getting a warning in xcode to convert to Swift 4.2 when trying to use version 3.6.0.

![screen shot 2019-01-28 at 10 11 37 am](https://user-images.githubusercontent.com/3382274/51853276-27acc500-22e5-11e9-9231-353ed088e9b3.png)

[2019-01-28 17:17] k0nserv commented on #238
Super odd... It should be fine and the syntax is 4.2 compatible. It still compiles I assume?

[2019-01-28 17:18] newmanw commented on #238
After a little more research it looks like xcode is really bad at recognizing when multiple versions of swift are supported:

![screen shot 2019-01-28 at 10 16 39 am](https://user-images.githubusercontent.com/3382274/51853615-f2ed3d80-22e5-11e9-99f6-c1aa268f30af.png)

Is there any way to "force" xcode to ignore this type of thing, would be nice not to have the "you need to update your swift projec

[2019-01-28 17:31] k0nserv commented on #238
Try

[code]

[2019-01-28 17:36] newmanw commented on #238
My swift version is already set to 4.2.  This still doesn't prevent xcode from seeing code that is not compat (the conde in your else statement) with swift 4.2 and thinking it needs to be converted.  Since that code will not run its not a big deal, just more fun with swift and xcode.

[2019-01-28 17:47] k0nserv commented on #238
And even forcing the target to 4.2 doesn't make Xcode stop warning?

[2019-01-28 18:03] newmanw commented on #238
Correct.  Xcode is picking up code that is not compat with 4.2 and it wants to update that code.

[2019-01-28 18:12] k0nserv commented on #238
That sucks :( Don't think there's anything we can do then

[2019-01-30 09:33] k0nserv commented on #268
Good catch, thank you

[2019-01-30 09:33] #268 closed

[2019-02-01 09:32] antonyjamese commented on #252
We can decrease the textfield so that it will become closer

[2019-02-02 13:53] antonyjamese commented on #211
@connorcowling Did you import the class?

[2019-02-08 09:06] dseehof commented on #262
Hi Martin - did you find anything or even ported parts of this library to MacOS. I'm also quite interested.

[2019-02-08 10:31] martindufort commented on #262
I've created a fork and started the port.

Unfortunately this is not a high priority for now so it's moving slowly.

But it's on the radar.

On Fri, Feb 8, 2019 at 04:06 dseehof <notifications@github.com> wrote:

[2019-02-08 11:03] k0nserv commented on #270
Please fill out the template and open a new issue

[2019-02-08 11:03] #270 closed

[2019-02-08 11:03] k0nserv commented on #266
Hey @AmirFT RTL should be supported. I am not using this library in production though. Do you have a minimal reproduction case you could share?

[2019-02-08 11:05] #258 closed

[2019-02-11 09:14] hendksoliman commented on #136
Hello there , I have the same problem . when the app started and i choose Arabic language to be the app language, the skyfloating textfield still exists on the left not on the right. but i noticed that when i close the app and open it again everything works well at its place. Any Help please ?
Thanks in advance

[2019-02-11 11:48] k0nserv commented on #136
I think we should start setting `textAlignment` to `NSTextAlignmentNatural` everywhere and get rid of the custom RTL stuff. Since iOS 9.0 this should be the solution. I can look at this, but if anyone wants to PR it I'd be happy

[2019-02-13 09:45] Tom-Fox1 commented on #250
This would be a great, any chance of it getting implemented? I could try making a PR but have no knowledge of the code for this library.

[2019-02-13 17:11] ahmediosDeveloper commented on #257
i try that but still have same issue

[2019-02-16 04:38] sohilmemon commented on #224
Any update?

[2019-02-18 03:24] tzzen93 opened #273 "TextField title is automatically change to all uppercase"
# Report

## What did you do?

ℹ Please replace this with what you did.

## I added placeholder and title as "UserName" after inputting text data, the title is showing as "USER NAME".

ℹ Please replace this with what you expected to happen.

## How can use the original one without changing to Uppercase.

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this se

[2019-02-18 08:01] alex02rt commented on #250
I have same problem, and this is my current solution. Hope it helps.
[code]

[2019-02-18 08:08] alex02rt commented on #250
I have same problem, this is my current solution. Hope it helps.
[code]

[2019-02-18 08:24] alex02rt commented on #273
I have same problem, this is my current solution. Hope it helps.
[code]

[2019-02-18 08:56] alex02rt commented on #250
I have same problem, this is my current solution. Hope it helps.
[code]

[2019-02-18 08:56] alex02rt commented on #250
I have same problem, this is my current solution. Hope it helps.
[code]

[2019-02-18 15:33] Tom-Fox1 commented on #250
@alex02rt thanks for sharing this - I have adjusted it slightly for my use case by adding right padding and moving down the title label. The result and source code is attached below in case anyone is interested:

![screen recording 2019-02-18 at 15 06 59](https://user-images.githubusercontent.com/13188249/52960329-77d0f180-3390-11e9-8dd9-e87e9a082eb3.gif)

    class TomsFloatingLabelTextField: Sky

[2019-02-18 15:39] Tom-Fox1 commented on #250
The only issue is that I would like to centre the placeholder (which I can do) however I don't know how to move it to the location where the user will type (further down) when the text view becomes the first responder.

Any ideas?

[2019-02-19 19:48] Bernix01 commented on #264
See #274 added a little implementation supporting tint color, it works.

[2019-02-20 10:51] tzzen93 commented on #273
Opp! Great! it is working well. Thank you so much bro!

[2019-02-20 10:51] #273 closed

[2019-02-21 11:19] k0nserv commented on #252
Hey @HermanKayy can you try using a subclass for this?

[2019-02-22 06:22] NupendraVerma commented on #242
Thank You sir

[2019-02-28 13:45] Eccelor opened #275 "Swift Version issue with CocoaPods"
# Report

## What did you do?

Tried installing SkyFloatingLabelTextField via CocoaPods

## What did you expect to happen?

Pod should be installed.

## What happened instead?

CocoaPods generated following error
[!] Unable to determine Swift version for the following pods:

- `SkyFloatingLabelTextField` does not specify a Swift version and none of the targets integrating it have the `SWIFT_VERSIO

[2019-03-04 08:00] JkThakurMiracle commented on #80
Hi
I am facing the same problem.

Actually what i need is. I need my application in RTL. I have changed the appearance of my application from RTL.
Now i am using textfield with SkyFloatingLabelTextField,  and set its textAllignment to .right.

But when i use to run my app from Xcode it is showing the floating placeholder at the right.
and if i use to run app from device then it makes the floating

[2019-03-04 08:04] JkThakurMiracle commented on #80
Thanks
I found the solution.

[2019-03-05 08:06] sathamkhussain commented on #161
How to change the placeholder color?

[2019-03-05 12:59] #242 closed

[2019-03-13 09:15] bhanushalilinesh commented on #40
@TomikeKrasnay Thank you, your answer worked properly

[2019-03-20 14:43] Davtyanag commented on #256
This happens if height of SkyFloatingLabelTextField is too small. Setting 50.0 as height resolves this issue.

[2019-03-21 11:45] ebtehal-elsaid opened #276 "How can i change font of selected title?"
i changed the font of text using regular property font of uiTextField but what i am trying to do is changing the font of selected title which appears when editing .. How can i do this?

Thanks

Xcode Version: 10.1 (10B61)
SkyFloatingLabelTextField Version: (3.6.0)
Deployment Target: 12.1
Base SDK: CocoaPods

[2019-03-21 11:55] #276 closed

[2019-03-21 12:17] ebtehal-elsaid commented on #276
founded using property titleFont

[2019-03-22 23:58] RowanG1 commented on #243
I think jumping around will work better. The problem is that you need to have error like : "Invalid Username. At least one character or digit". The "invalid username" for example needs to be included in error so the user can see which field it is.

[2019-03-27 10:21] 93cantero opened #277 "LLDB error: Couldn't IRGen expression, no additional error"
# Report
LLDB error: Couldn't IRGen expression, no additional error

Summary:
When using Carthage as a dependency manager to link SkyFloatingLabelTextField in the project causes LLDB to be unable to perform any printing operations. It just prints "error: Couldn't IRGen expression, no additional error" making ultra hard to find the root cause of the issue.

## What did you do?

1) Build the framewo

[2019-03-28 12:47] MrVlad001 commented on #275
I found solution. Try to use 1.5.3 version of CocoaPods to install pod.

[2019-03-28 13:01] Eccelor commented on #275
@MrVlad001 We're currently using 1.6.1

[2019-03-28 13:57] MrVlad001 commented on #275
@Eccelor OK. Another solution.
Try to create an empty swift file in the project.

[2019-03-28 14:35] Eccelor commented on #275
@MrVlad001 That will be a work around. You cannot expect these many users to do that. Its just a simple fix on their part, mention the swift version they're using.

[2019-04-04 20:30] raid5 commented on #122
Nice! It would be great if this was mentioned in the docs.

[2019-04-05 08:11] hiteshimpinge commented on #217
@abhijitpp ,
Update the function as below in SkyFloatingLabelTextField class -

fileprivate func updateTextAligment() {
        if isLTRLanguage {
            textAlignment = .center
            titleLabel.textAlignment = .center
        } else {
            textAlignment = .right
            titleLabel.textAlignment = .right
        }
    }

[2019-04-09 11:39] hendksoliman opened #279 "I need to always show the title of the textField even if it's empty"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2019-04-25 12:14] applebyte1992 commented on #279
self.setTitleVisible(true)
Use this function

[2019-05-01 09:37] srikanthkumarmailid07 opened #280 "Don't highlate the selected field line"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2019-05-06 10:41] k0nserv commented on #275
I've just released version 3.7.0 which if you use it with CocoaPods 1.7.0.rc1 should work well regardless of the verison of Swift you are using in your project.

[2019-05-06 11:51] k0nserv commented on #280
Closing because the template has not been filled out. Feel free to reopen with the template filled out

[2019-05-06 11:51] #280 closed

[2019-05-06 11:51] #279 closed

[2019-05-06 11:52] k0nserv commented on #277
Check this SO answer and see if that helps

[2019-05-06 11:52] #275 closed

[2019-05-06 11:53] k0nserv commented on #264
This has been merged and released in 3.7.0

[2019-05-09 13:23] JarvisTheAvenger opened #282 "Show error message multiline"
Is it possible to create an error message multiple lines??
![Screen Shot 2019-05-09 at 6 53 02 PM](https://user-images.githubusercontent.com/25341882/57456713-ad98be80-728b-11e9-9a54-988e9dc4f5f3.png)

[2019-05-09 13:50] karasahinemre opened #283 "While setting icon type, code crash"
# Report

## What did you do?

passwordField.iconType = .image

## What did you expect to happen?

Set icon type to image

## What happened instead?

Crash

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version: 10.2
SkyFloatingLabelTextField Version: 3.7.0
Deployment Target: 11.0
Base SDK:
Method of Integration: CocoaPods

## Project that demonstrate

[2019-05-16 12:27] karthisiva opened #284 "Create Textfield like dd/mm/yyyy in single text field?"
HI Sir,

Thanks for your brilliant work, Is your library support date input like below?

![0LCNK](https://user-images.githubusercontent.com/6926979/57853679-fdcfcd80-7803-11e9-9d42-4345e0e2f385.gif)

[2019-05-18 04:51] Jeferson-Oliveira commented on #253
Just set the formatter before set the tittle or placeholder

Use
    textField.titleFormatter = { texTitle in return title }
    textField.placeholder = placeholder
Instead
    textField.placeholder = placeholder
    textField.titleFormatter = { texTitle in return title }

[2019-05-22 07:58] iasonasiasonos opened #285 "uitextcontenttype not working"
Hi,

I am trying to show on the keyboard the previous added texts (e.g. email, name) in order to autofill the text field. With the default text field i am getting all the suggestions but with this library i cannot.

I have used the uitextcontenttype as Apple suggests in order to show the autofill suggestions but with no luck.

Is there any workaround on this problem?

Thanks...

[2019-05-22 09:10] toseefkhilji opened #286 "Hide placeholder on focus"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2019-05-23 12:43] Tasqatester opened #287 "Custom error message not capturing by the Appium Viewer"
Hello! My problem in title, custom error messages written by the developer is not capturing by the Appium Viewer.

In Appium Viewer I see XCUIElementTypeTextField attributes: accessibility id, name, and label (for buttons). But I don't capture custom error messages.
![download](https://user-images.githubusercontent.com/50952587/58253580-750be100-7d71-11e9-873a-a2de649392ec.png)

How developer shou

[2019-05-24 14:46] #283 closed

[2019-06-07 19:36] jessemx109 opened #288 "Upgrade to swift 5"
Can you please migrate the project to swift 5

[2019-06-17 07:16] jvashisht commented on #224
is there any solution for this ?? @dsngeu

[2019-06-24 13:09] abdurrahmansanli commented on #99
I have tried calling a layoutIfNeeded() just before my UIView animated layoutIfNeeded() method but it didn't solve anything.

I've achieved a solution by doing so:

[code]

This triggers just right in time before the keyboard hiding/showing animations and vice versa. All the animations in the page works correctly without interrupting the textField.

[2019-07-01 06:41] MincDev commented on #152
I am now experiencing the exact same. My textboxes worked fine and I didn't change anything except assign their class to SkyFloatingTextField. Now when I close xcode and open it again, all constraints are messed up. I can fix them and they are fine. But when I close xcode again and open up, then they are messed up again.

[2019-07-02 22:10] artuc commented on #286
Subclassing SkyFloatingLabelTextField and implementing these methods solved it for me

[code]

[2019-07-05 08:57] jasnicaa opened #291 "Decrease spacing between placeholder and text"
Hey thanks for a great library!

I am wondering how to decrease the spacing between placeholder and text?

[2019-07-21 06:46] danushka876 opened #292 "How to remove this custom options and have normal "copy","paste" ?"
How to remove this custom options and have normal "copy","paste" ?

![IMG_A7AC31DD7F85-1](https://user-images.githubusercontent.com/52156469/61587980-832f7f80-abb1-11e9-9671-e8c4fc30499c.jpeg)

[2019-07-21 15:58] #292 closed

[2019-07-23 14:50] Gagan6696 opened #293 "not working with scrollview"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2019-07-31 09:39] andrei-gemini commented on #288
Also there is an issue with SPM:
"The package dependency graph can not be resolved; unable find any available tag for the following requirements:
https://github.com/Skyscanner/SkyFloatingLabelTextField — 3.7.0..<4.0.0"

[2019-07-31 13:34] fl034 commented on #291
I had the same question and found a solution by subclassing:

[code]

But the problem with this is that the text gets clipped a little

[2019-08-01 09:55] ashinasok opened #294 "How to set single color for all the textfields across app?"
I want to set lineColor and selectedLineColor for the SkyFloatingLabelTextField as a single color across the iOS Application . Is there any way to do that ?

What i mean by that is for example , i can set navigation bar background color to black by simply setting : UINavigationBar.appearance().backgroundColor = UIColor.black in App Delegate . I am wondering such a mechanism exists for the above me

[2019-08-07 09:01] georgegillams commented on #294
I don't see any good reason to not put a UI_APPEARANCE property on the component for this.

[2019-08-09 11:20] jasnicaa commented on #291
yes my thoughts exactly but that clipping is a big problem, so I just left it that way although our designer is not happy :D

[2019-08-16 14:21] Drusy commented on #243
I can understand Skyscanner team don't want to implement this feature request, if your error message doesn't fit only on small screens such as iPhone SE, you still can consider using `adjustsFontSizeToFitWidth` on the component label:

[code]

[2019-08-16 14:22] Drusy commented on #282
Duplicate of #243

[2019-08-17 06:35] sivakumarec99 commented on #243
Hi sir  used your sours file. Good Design sir thank you so much. Good  improve in lable  animation.

[2019-09-06 04:50] padgithub commented on #261
Hi ankitthakur,

Have you integrated IQKeyboardManager when using SkyFloatingLabelTextField?

[2019-09-06 04:52] padgithub opened #299 "IQKeyboardManager not woking when SkyFloatingLabelTextField"
I tried using IQKeyboardManager but it did not work.
How to use it
pplease help me

[2019-09-06 05:35] #299 closed

[2019-09-18 01:15] jonnyarc opened #300 "Update the Swift PackageManager Support"
# Report

## What did you do?

ℹ Add the project as swift package using Xcode 11

## What did you expect to happen?

ℹ Add the package dependency

## What happened instead?

ℹ Error:
The package dependency graph can not be resolved; unable find any available tag for the following requirements:

https://github.com/Skyscanner/SkyFloatingLabelTextField.git — 3.7.0..<4.0.0

## Environment

ℹ

Xcode Ve

[2019-09-20 05:32] prasanna-tapzo opened #301 "Non-public API usage"
Hi, thanks for  this great library!. Recently we have integrated this library into one of  our app, however after uploading build to Testflight we got a warning message from Apple. It states:

The app references non-public selectors in <app-name>: setSelectedTitleColor:, setTitleFont:. If method names in your source code match the private Apple APIs listed above, altering your method names will he

[2019-09-24 06:09] NasrullahKhan opened #302 "IconImage size issue"
ℹ how i can resize icomImage. i tried iconImageView frame but it didn't worked.

[2019-09-24 06:13] NasrullahKhan commented on #302
I found that iconWidth can control the iconImage size. Thanks anyway

[2019-09-24 06:13] #302 closed

[2019-10-10 11:47] manishmg opened #303 "How to change Selected Title in lowecase"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2019-10-14 10:31] dev-dubaisoftwaresolutions commented on #224
Any solution?

[2019-10-14 11:06] dev-dubaisoftwaresolutions commented on #303
It is I think duplicate of: https://github.com/Skyscanner/SkyFloatingLabelTextField/issues/273

[2019-10-20 06:13] Hamza-Almass opened #304 "Add target to the SkyFloatingLabelTextField not working"
Hi ,

i have an issue about when, i add target value changed to the SkyFloatingLabelTextField it's not working? how can i add it.

thank you

[2019-10-29 09:21] mobileappdeveloper2019 opened #305 "How can I disable floating in textfield"
Hello

I want to disable floating animation in textfield, how can I do it

Kindly let me know

Thanks

[2019-11-27 10:03] mohsinsurani opened #307 "How to make titileLabel multi-line?"
# Report

## What did you do?
change no. of lines to 2 to get it multi - line
ℹ Please replace this with what you did.

## What did you expect to happen?
It should come multiple line
ℹ Please replace this with what you expected to happen.

## What happened instead?
It came single line
ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with informati

[2019-11-27 19:42] ryanmaksymic commented on #285
Also having issues with content type.

In particular, setting it to `creditCardNumber` is forcing the keyboard type to `default`; it's impossible to get a `numberPad` keyboard.

[2019-12-03 20:52] Fugos commented on #304
From the README:
"To get notified of different events happening on the textfield - such as the text changing, editing starting or ending - just set the func addTarget(_ target: Any?, action: Selector, for controlEvents: UIControl.Event) with the .editingChanged. also can set the delegate property to a class implementing the standard UITextFieldDelegate protocol"

[2019-12-05 12:17] k0nserv commented on #300
This should be getting fixed in version 3.8.0

[2019-12-05 12:18] k0nserv commented on #288
This will be released in version 3.8.0

[2019-12-05 12:42] k0nserv commented on #288
Released in 3.8.0

[2019-12-05 12:42] #288 closed

[2019-12-05 12:43] k0nserv commented on #307
You might be able to do it by setting `titleLabel.numberOfLines`

[2019-12-05 12:43] #304 closed

[2019-12-05 12:44] k0nserv commented on #301
This seems like a false positive on the side of Apple

[2019-12-05 12:44] k0nserv commented on #300
Fixed in 3.8.0

[2019-12-05 12:44] #300 closed

[2019-12-05 12:45] k0nserv commented on #291
As @jasnicaa said subclassing is the suggested approach here, it's not likely that we'll accept any changes to support this

[2019-12-05 12:45] #291 closed

[2019-12-05 12:45] k0nserv commented on #305
That's not supported

[2019-12-05 12:45] #305 closed

[2019-12-05 12:46] k0nserv commented on #277
Closing due to inactive. I assume this has been resolved

[2019-12-05 12:46] #277 closed

[2019-12-05 13:01] mohsinsurani commented on #307
Its not working!

[2019-12-05 13:25] k0nserv commented on #307
In that case it's considered unsupported

[2019-12-05 13:31] #243 closed

[2019-12-10 11:35] mohsinsurani commented on #307
In that case, Is anyone going to take this up?

[2019-12-11 15:51] akshit5230 opened #308 "Textfield gets hidden when unfocused in a tableviewcell"
# Report

## What did you do?

I'm using skyfloatingLabletextfield in a UITableViewCell. There are about 10 such cells.

## What did you expect to happen?

Textfield should not disappear

## What happened instead?

Whether I type anything or not but when I focus the next input field in the table, the current one disappears completely.

## Environment

ℹ Please fill in this section with information

[2019-12-16 10:35] k0nserv commented on #307
No, and I'm concerned about feature creep in this library so I would not be accepting a pull request changing it. You should be able to achieve by subclassing `SkyFloatingLabelTextField` and changing it yourself

[2019-12-20 08:56] mohsinsurani commented on #307
Yes. I fixed it! Thanks

[2019-12-20 08:56] #307 closed

[2020-01-17 14:50] cemalsayin opened #309 "how to define maximum character length"
Hi everyone, i'm creating payment view with credit card and i create SkyFloatingLabelTextField for card number you know card number text length 16. I've built card form with textFieldDidChange function (which puts "-" after every 4 character). I mean my SkyFloatingLabelTextField's max character should be 19. how can i define it?

[2020-01-26 21:21] umutalparslan opened #310 "Textfield empty"
Hello,

I am using the latest version of sdk and xcode.
Textfield 2 appears. The screenshot is below. When I print it, it gets the black text on the back. He's gotta get the white text on the front, right?

For example, in the name surname field, Testtesttest is printed on the back and when I print it, it prints the Testtesttest text, not the Name Surname.
<img width="583" alt="Screen Shot 2020-01

[2020-02-04 15:00] BryanVision commented on #310
Same problem.

[2020-02-04 18:58] umutalparslan commented on #310
@k0nserv hello, can you show this issue? Please help us. Thanks.

[2020-02-08 10:11] umutalparslan commented on #310
@BryanVision hello, can you solve this issue?

[2020-02-27 06:00] suhailshaikh001 commented on #217
Same issue here. Can't align the text to right of text field. Can anyone help?

[2020-03-05 09:48] madhukiranraju opened #311 "Adding a background colour to titleLabel is creating a shadow on top and right side"
Hi ,

I am using Xcode 11.3 and build a sample for 13.3 simulator and iPhone.
I found a problem when adding the background colour to the self.titleLabel to white, the titleLabel is creating a shadow in the right and on top.

Please let me know any solution for this

Thanks,
Madhu
![Simulator Screen Shot - iPhone 11 Pro - 2020-03-05 at 15 18 26](https://user-images.githubusercontent.com/4994784/759

[2020-03-07 18:36] jujdu commented on #305
But he can set the animation durations to 0 and that's it. Why not?

[2020-03-09 13:15] ashokTEZSOL commented on #309
you can use this method in "text field delegate"

func textField(_ textField: UITextField, shouldChangeCharactersIn     range: NSRange, replacementString string: String) -> Bool {
    let maxLength = 19
    let currentString: NSString = textField.text! as NSString
    let newString: NSString =
        currentString.replacingCharacters(in: range, with: string) as NSString
    return newString.lengt

[2020-03-10 15:56] LinusGeffarth opened #312 "Define global styles for all text fields"
Is it currently possible to define global styles for all text fields?
To be specific, I want to set the `titleFont` for all the text fields that I already have – which are mostly initialized through the storyboard anyway.

Thanks!

[2020-03-12 17:02] sai-manoj-kumar commented on #150
In my case, I had to remove the view controller from sources list of the Extension target instead. The extension is supposed to have this flag to YES. But my file is not intended to be part of this target.

[2020-03-21 12:42] pranavpari commented on #109
Any solution for this?

[2020-03-21 16:04] maxakash opened #313 "No support for SwiftUI"
I am using SkyFloatingLabelTextField in SwiftUI  . My code is
[code]

But there is a very large space between the textfield and title.
![Screenshot 2020-03-22 at 2 26 24 PM](https://user-images.githubusercontent.com/17406944/77246014-37a20980-6c49-11ea-9843-b9e6970e4512.png)

Please suggest any solution @unlobito @richardkeen @ivanz

[2020-03-23 11:05] k0nserv commented on #313
I think this will be due to the layout used, SwiftUI views by default use the whole proposed size to render. I'm still learning SwiftUI myself so I can't really help here. If you find a solution that requires changes to the library we'd be happy to accept a PR

[2020-03-23 11:08] k0nserv commented on #313
So what you probably can do is `Textfield.frame(width: nil, height: 45)`

[2020-03-27 23:38] rlaurb opened #314 "Problem with title and selectedTitle properties in Storyboard"
# Report

## What did you do?

Added a SkyFloatingTextField to a storyboard. Specified a non-nil value for either/both the 'title' attribute or the 'selectedTitle' attribute.

## What did you expect to happen?

The storyboard would compile without error or warning.

## What happened instead?

file:///Users/rlaurb/Projects/MorningSugar/MorningSugar/Base.lproj/Main.
storyboard: warning: IB Designabl

[2020-04-06 03:57] tciuro opened #315 "SkyFloatingLabelTextField doesn't seem to support Dynamic Type"
I have the following code:

        usernameTextField.placeholder = "Username"
        usernameTextField.placeholderFont = UIFont.preferredFont(forTextStyle: .headline)
        usernameTextField.adjustsFontForContentSizeCategory = true
        usernameTextField.title = "Username"
        usernameTextField.titleFont = UIFont.preferredFont(forTextStyle: .headline)
        usernameTextField.adjustsFo

[2020-04-06 19:39] tciuro commented on #315
I have cloned the project and realized that I can also set the font on `placeholderFont`:

        usernameTextField.placeholderFont = UIFont.systemFont(ofSize: 20.0)
        usernameTextField.titleFont = UIFont.systemFont(ofSize: 20.0)

What I see is that originally, the text field honors the size. After typing, the title (above the textfield) still continues to honor the font size, but the actua

[2020-04-07 03:07] Isuru-Nanayakkara commented on #119
+1

[2020-04-11 19:40] arishanapalli opened #316 "Can we have right button in SkyFloatingLabelTextField"
Do we have right button to SkyFloatingLabelTextField?
For password, eye button added and perform action show password or hidden.

Current its  an amazing one.

[2020-04-25 17:51] 4nn4bel commented on #128
where do you put this code at?
(as I am using objective-c version)

[2020-04-25 17:53] Aishly commented on #128
This is extension of skyfloating cls..  just create a empty file and put.

On Sat, 25 Apr 2020 at 11:21 PM, Annabel <notifications@github.com> wrote:

--
Pooja Negi
PNKBKSH.

[2020-04-25 17:56] Aishly commented on #128
And sorry i am not able to recognise you..

On Sat, 25 Apr 2020 at 11:23 PM, POOJA NEGI <poojanegi43@gmail.com> wrote:

Pooja Negi
PNKBKSH.

[2020-04-27 12:53] adya commented on #228
Hey, been trying to adapt `SkyFloatingLabelTexeField` in my project. Came across the very same issue.

For me the solution was to override `placeholderRect(forBounds:)` and `editingRect(forBounds:)`
[code]

Where `centeredFrame(in: bounds)` looks like:
[code]

[2020-04-29 15:23] 4nn4bel commented on #128
thanks for the help Aishly

[2020-04-29 15:31] Aishly commented on #128
Hi Annabel,

I am really glad to help you! But i am really sorry I couldn’t understand
why I got that mail.
Can u please tell me?

Thank you!

On Wed, 29 Apr 2020 at 8:53 PM, Annabel <notifications@github.com> wrote:

--
Pooja Negi
PNKBKSH.

[2020-04-30 14:43] Hassan-iOS commented on #136
import UIKit
import MOLH

@IBDesignable
open class CustomTextField: UITextField { // swiftlint:disable:this type_body_length
    /**
     A Boolean value that determines if the language displayed is LTR.
     Default value set automatically from the application language settings.
     */
    @objc open var isLTRLanguage: Bool = UIApplication.shared.userInterfaceLayoutDirection == .leftToRight {

[2020-05-03 14:29] 4nn4bel commented on #128
Hi Aishly
maybe could be due to you are subscribing to this issue or because you comment before you are watching this issue.

[2020-05-08 14:30] hassan31 opened #317 "Need to change floating label text field placeholder case to lower / capitalized"
# Report

## What did you do?

ℹ I'm trying to set the floating placeholder case to lower/capitalized with even attributed placeholder. I'm wondering if it is possible to change the case of floating placeholder text.

## What did you expect to happen?

ℹ It should change the case of floating placeholder.

## What happened instead?

ℹ All the letters are in upper case of floating label placeholder.

[2020-05-09 10:57] shashank090789 opened #318 "How to set the icon to the right side"
# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replace this with what you expected to happen.

## What happened instead?

ℹ Please replace this with of what happened instead.

## Environment

ℹ Please fill in this section with information about your environment

Xcode Version:
SkyFloatingLabelTextField Version:
Deployment Target

[2020-06-03 13:15] ZaeemZafar commented on #307
@mohsinsurani Can you post applied fix here. Need that solution. Thanks

[2020-07-02 11:29] mluisbrown commented on #317
You need to set `titleFormatter`. The default implementation makes the title uppercase. If you want the title to remain unchanged when it floats up from the placeholder, you can do:

[code]

[2020-07-02 11:34] mluisbrown commented on #315
You also need to do

[code]

[2020-07-13 04:52] nxnam opened #321 "how to add border around textfield"

[2020-07-13 13:15] joeboyscout04 opened #322 "New release anytime soon?"
# Report
Any chance we can get a new tagged release to include the latest goodies, including the addition of the `errorPlacement` option?

https://github.com/Skyscanner/SkyFloatingLabelTextField/compare/3.8.0...master

We can use the current master branch for the moment but would be cleaner to have a tagged release we can point to.  Thanks!

[2020-07-20 16:34] akash-stha commented on #249
How do I disable the bottom borderline? textField.borderStyle = .none doesn't work.

[2020-09-15 23:03] diogot opened #324 "Xcode 12 SPM `IPHONEOS_DEPLOYMENT_TARGET` warning"
# Report

## What did you do?

Using SkyFloatingLabelTextField in SPM on Xcode 12 GM.

## What did you expect to happen?

Don't show any build warning.

## What happened instead?

Produces this warning:

## Environment

Xcode Version: 12 GM
SkyFloatingLabelTextField Version: 3.8.0
Deployment Target: iOS 12
Base SDK: iOS 14
Method of Integration: SPM

According to [this thread](https://forums.swift

[2020-09-21 07:30] manishopl commented on #303
you can customise from it class file where returning in uppercase

[2020-09-21 17:23] bogren commented on #324
There is more info on in Cocoapods issue section https://github.com/CocoaPods/CocoaPods/issues/9884. I can create a PR bumping the deployment target as well 👍

[2020-09-22 19:39] m-venkata opened #326 "Is there any user data that is either being collected or Tracked by the SkyFloatingLabelTextField"
# Report

## App

ℹiOS 14 App Tracking Transparency Framework Query

As part of the iOS 14 /AppTracking Transparency framework, would like to know if any kind of the user data is collected or Tracked by the SkyFloatingLabelTextField.

As mentioned in the Apple (Ref: https://developer.apple.com/support/app-privacy-on-the-app-store/),
below were some of the examples for Tracking:

- Sharing device l

[2020-09-30 08:27] kristiyandobrev commented on #324
@bogren That would be really nice!  I guess the same could be done for `SPM` as I am getting similar warning

![Screenshot 2020-09-30 at 10 27 33](https://user-images.githubusercontent.com/8437817/94661589-8f5fb280-0307-11eb-96f0-5c8707120d84.png)

[2020-09-30 08:49] bogren commented on #324
Yes 👍  Bumped in #325. Need to release.

[2020-09-30 11:43] kristiyandobrev commented on #324
@bogren the iOS version in [Package.swift](https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/Package.swift#L7l) is still set to `8.0` though 🤔

[2020-10-02 08:38] k0nserv commented on #324
I'll try to get a new version out with these fixes today

[2020-10-02 08:44] k0nserv commented on #326
Nope nothing like that

[2020-10-02 08:44] #326 closed

[2020-10-02 08:44] #303 closed

[2020-10-02 08:50] k0nserv commented on #315
This is intentional for now and there are no plans to add it

[2020-10-02 08:50] #315 closed

[2020-10-02 08:50] #317 closed

[2020-10-02 09:08] mluisbrown commented on #315
@k0nserv can you at least explain *why* it's intentional?

[2020-10-02 17:31] jawaduzi commented on #109
(SkyFloatingLabelTextField).placeholder =  NSLocalizedString("Write here string for localization", comment: "")
e.g
serachTextField.placeholder =  NSLocalizedString("Search for restaurant", comment: "")

[2020-10-06 11:18] ostoich commented on #324
@k0nserv will you be updating the [Package.swift](https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/Package.swift#L7l) file any time soon? It is still set to 8.0 and is causing issues with SPM on XCode 12.

[2020-10-23 19:09] #313 closed

[2020-11-20 03:03] devgeek27 commented on #324
Same for me. Could you please fix that for SPM.

[2020-12-02 16:52] ostoich commented on #324
@k0nserv Xcode 12 is now official. Please update the platforms in [Package.swift](https://github.com/Skyscanner/SkyFloatingLabelTextField/blob/master/Package.swift#L7l) as you promised.
There are a number of people here waiting on you since [October 2](https://github.com/Skyscanner/SkyFloatingLabelTextField/issues/324#issuecomment-702602629) for this fix.

[2020-12-02 16:59] k0nserv commented on #324
Thanks for the reminder, 4.0.0 is out now with the bump

[2020-12-02 17:00] k0nserv commented on #322
4.0.0 was just released

[2020-12-02 17:00] #322 closed

[2020-12-02 17:56] smohammedyasin opened #327 "single color with Reusability"
Hello,

can I use this text field using the .xib file?  for reusability?
can you please provide an example?

[2020-12-02 23:32] diogot commented on #324
Thanks!

[2020-12-02 23:32] #324 closed

[2021-02-27 11:23] AnkurLahiry commented on #228
The earth is saved 😄

[2021-07-16 14:51] martinknabbe opened #331 "Compiler error 'shared' is unavailable in application extensions for iOS with SPM and Xcode 13 beta 3"
# Report

## What did you do?

Integrating SkyFloatingLabelTextField version 4.0.0 with Swift Package Manager and Xcode 13 beta 3 (13A5192i).

## What did you expect to happen?

Library compiles without errors.

## What happened instead?

Compiler emits error `'shared' is unavailable in application extensions for iOS: Use view controller based solutions where appropriate instead.` SkyFloatingLabel

[2021-08-11 14:19] martinknabbe commented on #331
Not sure what the future plan is in SwiftPM, but this was reverted for now in Xcode 13 beta 5.

Thread with some more details:
https://forums.swift.org/t/set-application-extension-api-only-on-a-spm-package/39333/27

[2021-08-18 15:18] firaseljerdy commented on #150
@mmmahajan hey! Where can I find this setting? I am clicking over my framework in the Pod folder in my project.

[2021-08-29 17:03] shalithacodezync commented on #109
This issue Still Exits On the Latest..As a workaround you will have to handle it by own .. i was able to handle this like this
We only needed support for arabic language.

[code]

Then applied this Custom class as View on Storyboard and Outlet..Done

[2021-09-16 13:38] MohanabalanD opened #333 "Add Support for Swift Package Manager"
# Add Support for Swift Package Manager

Since Most of the projects are Migrating to Swift Package Manager, we want this wonderful Library to add Support for Swift Package Manager

[2021-09-27 05:28] Dave181295 commented on #321
+1

[2021-10-06 07:45] kishlaykishore1 commented on #109
func textfieldAlingment(_ lang: String){
        if lang == "en" {
            txtNewPassword.textAlignment = .natural
            txtReenterPassword.textAlignment = .natural
        } else {
            txtNewPassword.textAlignment = .right
            txtReenterPassword.textAlignment = .right
        }
    }

**call it in View Will Appear**
override func viewWillAppear(_ animated: Bool) {

[2021-11-18 20:55] alexeybolv opened #334 "Wrong behaviour on error state."
# Report

## What did you do?

ℹ I have added latest version and try to use textfield with validation and have problems with error colors.

## What did you expect to happen?

Expect to have error color on title and text.

## What happened instead?

Only title was colored with error color, but text has black color. It looks like different symbols, eg. "@" "," "." break some logic with colors.

<img

[2021-11-22 06:08] scubax07 commented on #321
Has anyone added a border around the text field?

[2021-12-03 14:38] takasurazeem opened #335 "Installation through Carthage failing with error 65 and pods project using swift 3.0"
# Report

## What did you do?

Tried installing with Carthage

## What did you expect to happen?
Install successfully

## What happened instead?

[code]

## Environment

iOS

Xcode Version: 13.1
SkyFloatingLabelTextField Version: 4.0
Deployment Target: iOS 12
Base SDK: ???
Method of Integration: Carthage

## Project that demonstrates the issue

N/A

[2021-12-09 08:25] iamagam commented on #312
@LinusGeffarth
Create subclass of textfield and add this subclass as class of your textfield in the storyboard. Set your global style on subclass.

[2021-12-14 07:47] vishnupxminds commented on #333
Yes It would be great if you guys can add support for Swift Package Manager

[2021-12-16 05:22] virendrapatil0 opened #336 "Can u change the title should be case-sensitive"
is not issue I need set the title in should be case-sensitive can u possible the custome change of title .
<img width="299" alt="Screenshot 2021-12-16 at 10 42 48 AM" src="https://user-images.githubusercontent.com/29115991/146313016-132f818a-4bdd-4e6b-a453-a9d500789438.png">

# Report

## What did you do?

ℹ Please replace this with what you did.

## What did you expect to happen?

ℹ Please replac

[2021-12-29 14:55] ami-aman commented on #334
@alexeybolv It shows the same behaviour for me as well but looks like it is an issue with the OS. Check [this](https://stackoverflow.com/questions/46750614/uitextfield-textcolor-updates-in-ios10-not-in-ios-11) for a solution which worked for me, if may be it could help you as well.

[2021-12-31 08:55] alexeybolv commented on #334
@ami-aman thank you, this workaround works for me! Hope, it will be fixed in next iOS versions.

[2022-02-09 15:45] ivangenta3 commented on #336
you can override this closure:
[code]

[2022-02-14 23:58] bytegeekdev opened #337 "XCode 13 always shows a warning - "Conversion to Swift 5 is available""
## Environment

Xcode Version:
13.2.1

SkyFloatingLabelTextField Version:
4.0.0

Deployment Target:
iOS 11

Base SDK:
iOS

Method of Integration: CocoaPods | Carthage | Manual
Swift Package Manager

## Project that demonstrates the issue

ℹ Please link to a project we can download that reproduces the issue if applicable.
<img width="554" alt="Screen Shot 2022-02-15 at 10 55 28 am" src="https://use